<a href="https://colab.research.google.com/github/aserdargun/aserdargun/blob/main/MyPythonDeepDive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION

I am starting with the zen of python. If you write "import this" and understand what is this, you will see significant effects on your syntax.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

If you want to have more details on it, you should go https://peps.python.org/pep-0008/ PEP8. PEP is an abbrevation of Python Enchancement Proposals. 

You can see the PEP index in this https://peps.python.org/pep-0000/

The resource of this study is from Fred Baptiste's DeepDive Series. Special thanks to Fred Baptiste. https://github.com/aserdargun/python-deepdive

* [Part 1](https://www.udemy.com/course/python-3-deep-dive-part-1/?referralCode=E46B931C71EE01845062/): Mainly functional programming
* [Part 2](https://www.udemy.com/course/python-3-deep-dive-part-2/?referralCode=3E7AFEF5174F04E5C8D4/): Mainly iterables, iterators and generators
* [Part 3](https://www.udemy.com/course/python-3-deep-dive-part-3/?referralCode=C5B0D9AB965B9BF4C49F/): Mainly hash maps
* [Part 4](https://www.udemy.com/course/python-3-deep-dive-part-4/?referralCode=3BB758BE4C04FB983E6F/): OOP


I only want to emphasize some caveats, also good understanding for me and sharing with others who want to learn Python in details.

# **PART 1: FUNCTIONAL PROGRAMMING**

## Section 02 - A Quick Refresher

### 01 - Multi-Line Statements and Strings

**Implicit Examples**

Multi-Line Statement

In [ ]:
a = [1,
     2,
     3]

In [ ]:
a

[1, 2, 3]

Multi-Line Statement with comments to the end of each line.

In [ ]:
a = [1, #first element
     2, #second element
     3, #third element
     ]

In [ ]:
a

[1, 2, 3]



---
**BE CAREFUL!**

*If you use comments, you must close off the collection on a new line.*

In [ ]:
a = [1, #first element
     2 # second element]

SyntaxError: ignored



---

This works the same way for tuples, sets, and dictionaries.

Tuple

In [ ]:
a = (1, #first element
     2, #second element
     3, #third element
     )

In [ ]:
a

(1, 2, 3)

Set

In [ ]:
a = {1, #first element
     2, #second element
     }

In [ ]:
a

{1, 2}

Dictionary

you can use each of key and value pairs comments in dictionary.

In [ ]:
a = {'key1': 'value1', #comment,
     'key2': #comment
     'value2' #comment
     }

In [ ]:
a

{'key1': 'value1', 'key2': 'value2'}

Function Parameter

A parameter is the variable listed inside the parentheses in the function definition.

In [ ]:
def my_func(a, #some comment
            b, c):
    print(a, b ,c)

Function Argument

An argument is the value that are sent to the function when it is called.

In [ ]:
my_func(10, #comment
        20, #comment
        30)

10 20 30

**Explicit Examples**

You can use the `\` character to explicitly create multi-line statements.

In [ ]:
a = 10
b = 20
c = 30
if a > 5 \
  and b > 10 \
  and c > 20:
  print('yes!!')

yes!!

The indentation in continued-lines does not matter:

In [ ]:
a = 10
b = 20
c = 30
if a > 5 \
    and b > 10 \
        and c > 20:
    print('yes!!')

yes!!

**Multi-Line Strings**

You can create multi-line strings by using triple delimiters (single or double quotes)

In [ ]:
a = '''this is 
a multi-line string'''

In [ ]:
print(a)

this is
a multi-line string

If you call with a directly in notebook, you will see with escape characters such as `\n`.

In [ ]:
a

'this is \na multi-line string'

Any character you type is preserved. You can also mix in escaped characters line any nırmal string. (i.e.: `\n`)

In [ ]:
a = """some items:\n
    1. item 1
    2. item 2"""

In [ ]:
print(a)

some items:

    1. item 1
    2. item 2



---
**BE CAREFUL!**

*if you indent your multi-line strings - the extra spaces are preserved!*

In [ ]:
def my_func():
    a = '''a multi-line string
    that is actually indented in the second line'''
    return a

In [ ]:
print(my_func())

a multi-line string
    that is actually indented in the second line

In [ ]:
def my_func():
    a = '''a multi-line string
that is not indented in the second line'''
    return a

In [ ]:
print(my_func())

a multi-line string
that is not indented in the second line



---

**BE CAREFUL!**

*Note that these multi-line strings are not comments - they are real strings and, unlike comments, are part of your compiled code. They are however used to create comments, such as docstrings, that we will cover later in this course.*



---

**BE CAREFUL!**

*In general, use `#` to comment your code, and use multi-line strings only when actually needed (like for docstrings).
Also, there are no multi-line comments in Python. You simply have to use a `#` on every line.*

In [ ]:
# this is
#   a multi-line
#   comment

*The following works, but the above formatting is preferrable.*

In [ ]:
# this is
    # a multi-line
    # comment



---

### 02 - Conditionals

This is achieved using `if`, `elif` and `else` or the ternary operator (aka conditional expression)

In [ ]:
a = 2
if a < 3:
    print('a < 3')
else:
    print('a >= 3')

a < 3

`if` statements can be nested.

In [ ]:
a = 15

if a < 5:
    print('a < 5')
else:
    if a < 10:
        print('5 <= a < 10')
    else:
        print('a >= 10')

a >= 10

But the `elif` statement provides for better readability.

In [ ]:
a = 15

if a < 5:
    print('a < 5')
elif a < 10:
    print('5 <= a < 10')
else:
    print('a >= 10')

a >= 10

Python also provides a conditional expression (ternary operator):

`X if (condition) else Y`

returns (and evaluates) X if (conditions) is True, otherwise returns (and evaluates) Y

In [ ]:
a = 5
res = 'a < 10' if a < 10 else 'a >= 10'
print(res)

a < 10

In [ ]:
a = 15
res = 'a < 10' if a < 10 else 'a >= 10'
print(res)

a >= 10



---
**BE CAREFUL!**

*Note that X and Y can be any expression, not just literal values:*

In [ ]:
def say_hello():
    print('Hello!')

def say_goodbye():
    print('Goodbye!')

In [ ]:
a = 5
say_hello() if a < 10 else say_goodbye()

Hello!

In [ ]:
a = 15
say_hello() if a < 10 else say_goodbye()

Goodbye!



---

### 03 - Functions

Python has many built-in functions and methods we can use
Some are available by default:

In [ ]:
s = [1, 2, 3]
len(s)

3

While some need to be imported:

In [ ]:
from math import sqrt

In [ ]:
sqrt(4)

2.0

Entire modules can be imported:

In [ ]:
import math

In [ ]:
math.exp(1)

2.718281828459045

We can define our own functions:

In [ ]:
def func_1():
    print('running func1')

In [ ]:
func_1()

running func1



---
**BE CAREFUL!**

*Note that to "call" or "invoke" a function we need to use the `()`.
Simply using the function name without the `()` refers to the function, but does not call it:*

In [ ]:
func_1



---

*We can also define functions that take parameters:*

In [ ]:
def func_2(a, b):
    return a * b



---
**BE CAREFUL!**

*Note that `a` and `b` can be any type (this is an example of polymorphism - which we will look into more detail later in this course).
But the function will fail to run if `a` and `b` are types that are not "compatible" with the ` * ` operator:*

In [ ]:
func_2(3, 2)

6

In [ ]:
func_2('a', 3)

'aaa'

In [ ]:
func_2('a', 'b')

TypeError: ignored



---

It is possible to use type annotations:

In [ ]:
def func_3(a: int, b: int):
    return a * b

In [ ]:
func_3(2 ,3)

6

In [ ]:
func_3('a', 2)

'aa'



---
**BE CAREFUL!**

*But as you can see, these do not enforce a data type! They are simply metadata that can be used by external libraries, and many IDE's.*



---

Functions are objects, just like integers are objects, and they can be assigned to variables just as an integer can:

In [ ]:
my_func = func_3

In [ ]:
my_func('a', 2)

'aa'



---
**BE CAREFUL!**

*Functions must always return something. If you do not specify a return value, Python will automatically return the `None` object:*

In [ ]:
def func_4():
    # does something but does not return a value
    a = 2

In [ ]:
res = func_4()

In [ ]:
print(res)

None



---

The `def` keyword is an executable piece of code that creates the function (an instance of the function class) and essentially assigns it to a variable name ( the function name).



---
**BE CAREFUL!**

*Note that the function is defined when `def` is reached, but the code inside it is not evaluated until the function is called.
This is why we can define functions that call other functions defined later - as long as we don't call them before all the necessary functions are defined.
For example, the following will work:*

In [ ]:
def fn_1():
    fn_2()

def fn_2():
    print('Hello')

fn_1()

Hello

*But this will not work:*

In [ ]:
def fn_3():
    fn_4

fn_3()

def fn_4():
    print('Hello')

NameError: ignored



---

We also have the `lambda` keyword, that also creates a new function, but does not assign it to any specific name - instead it just returns the function object - which we can, if we wish, assign yo a variable ourselves:

In [ ]:
func_5 = lambda x: x ** 2

In [ ]:
func_5

In [ ]:
func_5(2)

4

### 04 - The While Loop

The while loop is a way to repeat a block of code as long as a specified condition is met.

```
while <exp is true>:
    code block
```

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4



---
**BE CAREFUL!**

*Note that there is no guarantee that a while loop will execute at all, not even once, because the condition is tested before the loop runs.*

In [ ]:
i = 5
while i < 5:
    print(i)
    i += 1

*Some languages have a concept of a while loop that is guaranteed to executed at least one:*
```
do
    code block
while <exp is true>
```
*There is no such thing in Python, but it's easy to write code that works that way.*



---

We create an infinite loop and test the condition inside the loop and break out of the loop when the condition becomes false:

In [ ]:
i = 5

while True:
    print(i)
    if i >= 5:
        break

5

As you can see the loop executed once ( and will always execute at least once, no matter the starting value of `i`.)
This is a standard pattern and can be useful in a varity of scenarios.
A simple example might be getting repetitive user input until the user performs and action or provides some specific value.
we might try it this way:

In [ ]:
min_length = 2
name = input('Please enter your name:')
while not(len(name) >= min_length and name.isprintable() and name.isalpha()):
    name = input('Please enter your name:')
print('Hello, {0}'.format(name))

Please enter your name:a123
Please enter your name:a
Please enter your name:serdar
Hello, serdar

This works just fine, but notice that we had to write the code to elicit user input twice in our code. This is not good practice, and we can easily clean this up as follows:

In [ ]:
min_length = 2

while True:
    name = input('Please enter your name:')
    if len(name) >= min_length and name.isprintable() and name.isalpha():
        break

print('Hello, {0}'.format(name))

Please enter your name:a
Please enter your name:123
Please enter your name:serdar
Hello, serdar

We saw how the `break` statement exists the while loop and execution resumes on the line immediately after the while code block.

Sometimes, we just want to cut the current iteration short, but continue looping, without exiting the loop itself.

This is done using `continue` statement.

In [ ]:
a = 0
while a < 10:
    a += 1
    if a % 2:
        continue
    print(a)

2
4
6
8
10



---
**BE CAREFUL!**

*The while loop also can be used with an `else` clause!!*

*The `else` is executed if the `while` loop terminated without hitting a `break` statement (we say the loop terminated normally)*

*Suppose we want to test if some value is present in some list, and if not we want to append it to the list (again there are better ways of doing this):*

*First, here's how we might do it wihout the benefit of the `else` clause:*

In [ ]:
l = [1, 2, 3]
val = 10

found = False
idx = 0
while idx < len(l):
    if l[idx] == val:
        found = True
        break
    idx += 1

if not found:
    l.append(val)
print(l)

[1, 2, 3, 10]

Using the `else` clause is easier:

In [ ]:
l = [1, 2, 3]
val = 10

idx = 0
while idx < len(l):
    if l[idx] == val:
        break
    idx += 1
else:
    l.append(val)

print(l)

[1, 2, 3, 10]

In [ ]:
l = [1, 2, 3]
val = 3

idx = 0
while idx < len(l):
    if l[idx] == val:
        break
    idx += 1
else:
    l.append(val)

print(l)

[1, 2, 3]



---

### 05 - Loop Break and Continue inside a Try...Except...Finally

Recall that in a `try` statement, the `finally` clause always runs:

In [ ]:
from six import b
a = 10
b = 1
try:
    a / b
except ZeroDivisionError:
    print('division by 0')
finally:
    print('this always executes')

this always executes

In [ ]:
from six import b
a = 10
b = 0
try:
    a / b
except ZeroDivisionError:
    print('division by 0')
finally:
    print('this always executes')

division by 0
this always executes

So, what happens when using a `try` statement within a `while` loop, and a `continue` or `break` statement is encountered?

In [ ]:
a = 0
b = 2

while a < 3:
    print('----------')
    a += 1
    b -=1
    try:
        res = a / b
    except ZeroDivisionError:
        print('{0}, {1} - division by 0'.format(a, b))
        res = 0
        continue
    finally:
        print('{0}, {1} - always executes'.format(a, b))
    print('{0}, {1} - main loop'.format(a, b))

----------
1, 1 - always executes
1, 1 - main loop
----------
2, 0 - division by 0
2, 0 - always executes
----------
3, -1 - always executes
3, -1 - main loop

As you can see in the above result, the finally code still executed, even though the current iteration was cut short with the continue statement.
<p>This works the same with a break statement:

In [ ]:
a = 0
b = 2

while a < 3:
    print('----------')
    a += 1
    b -=1
    try:
        res = a / b
    except ZeroDivisionError:
        print('{0}, {1} - division by 0'.format(a, b))
        res = 0
        break
    finally:
        print('{0}, {1} - always executes'.format(a, b))
    print('{0}, {1} - main loop'.format(a, b))

----------
1, 1 - always executes
1, 1 - main loop
----------
2, 0 - division by 0
2, 0 - always executes

We can even combine all this with the `else` clause:

In [ ]:
a = 0
b = 2

while a < 3:
    print('----------')
    a += 1
    b -=1
    try:
        res = a / b
    except ZeroDivisionError:
        print('{0}, {1} - division by 0'.format(a, b))
        res = 0
        break
    finally:
        print('{0}, {1} - always executes'.format(a, b))
    print('{0}, {1} - main loop'.format(a, b))
else:
    print('\n\nno errors were encountered!')

----------
1, 1 - always executes
1, 1 - main loop
----------
2, 0 - division by 0
2, 0 - always executes

In [ ]:
a = 0
b = 5

while a < 3:
    print('----------')
    a += 1
    b -=1
    try:
        res = a / b
    except ZeroDivisionError:
        print('{0}, {1} - division by 0'.format(a, b))
        res = 0
        break
    finally:
        print('{0}, {1} - always executes'.format(a, b))
    print('{0}, {1} - main loop'.format(a, b))
else:
    print('\n\nno errors were encountered!')

----------
1, 4 - always executes
1, 4 - main loop
----------
2, 3 - always executes
2, 3 - main loop
----------
3, 2 - always executes
3, 2 - main loop


no errors were encountered!

### 06 - The For Loop

In Python, an iterable is an object capable of returning values one at a time.

Many objects in Python are iterable: lists, strings, file objects and many more.



---

**BE CAREFUL!**

*Note: Our definition of an iterable did not state it was a collection of values - we only said it is an object that can return values one at a time - that's a subtle difference that when we look into iterators and generators.*



---

The `for` keyword can be used to iterate an iterable.

If you come with a background in another programming language, you have probably seen for loops defined this way:


```
for (int i=0; i < 5; i++) {
    //code block
}
```
This form of the `for` loop is simply a repetition, very similar to a `while` loop - in fact it is equivalent to what we could write in Python as follows:

In [ ]:
i = 0
while i < 5:
    #code block
    print(i)
    i += 1
i = None

0
1
2
3
4

But that's NOT what the `for` statement does in Python - the `for` statement is a way to iterate over iterables, and has nothing to do with the `for` loop we just saw. The closest equivalent we have in Python is the `while` loop written as above.

The use the `for` loop in Python, we require an iterable object to work with.

A simple iterable object is generated via the `range()` function

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Many objects are iterable in Python:

In [ ]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
for x in ('a', 'b', 'c'):
    print(x)

a
b
c

When we iterate over an iterable, each iteration returns the `next` value (or object) in the iterable:

In [ ]:
for x in [(1, 2), (3, 4), (5, 6)]:
    print(x)

(1, 2)
(3, 4)
(5, 6)

We can even assign the individual tuple values to specific named variables:

In [ ]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

The `break` and `continue` statements work just as well in `for` loops as they do in `while` loops:

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2



---
**BE CAREFUL**

*The `for` loop, like the `while` loop, also supports an `else` clause which is executed if and only if the loop terminates normally (i.e. did not exit because of a `break` statement)*

In [ ]:
for i in range(1, 5):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print('No multiples of 7 encountered')

1
2
3
4
No multiples of 7 encountered

In [ ]:
for i in range(1, 8):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print('No multiples of 7 encountered')

1
2
3
4
5
6
7
multiple of 7 found



---

Similarly to the `while` loop, `break` and `continue` work just the same in the context of a `try` statement's `finally` clause.

In [ ]:
for i in range(5):
    print('-----------')
    try:
        10 / (i - 3)
    except ZeroDivisionError:
        print('divided by 0')
        continue
    finally:
        print('always runs')
    print(i)

-----------
always runs
0
-----------
always runs
1
-----------
always runs
2
-----------
divided by 0
always runs
-----------
always runs
4

There are a number of standard techniques to iterate over iterables:

In [ ]:
s = 'hello'
for c in s:
    print(c)

h
e
l
l
o

But sometimes, for indexable iterable types (e.g. sequences), we want to also know the index of the item in the loop:

In [ ]:
s = 'hello'
i = 0
for c in s:
    print(i, c)
    i += 1

0 h
1 e
2 l
3 l
4 o

Slightly better approach might be:

In [ ]:
s = 'hello'

for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

or even better:

In [ ]:
s = 'hello'

for i, c in enumerate(s):
    print(i, c)

0 h
1 e
2 l
3 l
4 o

### 07 - Classes

**Custom Classes**

To create a custom class we use the `class` keyword, and we can initialize class attributes in the special method `__init__`.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

We create instances of the `Rectangle` class by calling it with arguments that are passed to the `__init__` method as the second and third arguments. The first argument `(self)` is automatically filled in by Python and contains the object being created.



---
**BE CAREFUL!**

*Note that using `self` is just a convention (although a good one, and you should use it to make your code more understandable by others), you could really call it whatever (valid) name you choose.*



---

But just because you can does not mean you should!

In [ ]:
r1 = Rectangle(10, 20)
r2 = Rectangle(3, 5)

In [ ]:
r1.width

10

In [ ]:
r2.height

5

`width` and `height` are attributes of the `Rectangle` class. But since they are just values (not callables), we call them properties.

Attributes that are callables are called methods.

You'll note that we were able to retrieve the `width` and `height` attributes (properties) using a dot notation, where we specify the object we are interested in, then a dot, then the attribute we are interested in.

We can add callable attributes to our class (methods), that will also be referenced using the dot notation.

Again, we will create instance methods, which means the method will require the first argument to be the object being used when the method is called.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height

    def perimeter(the_referenced_object):
        return 2 * (the_referenced_object.width + the_referenced_object.height)

In [ ]:
r1 = Rectangle(10, 20)

In [ ]:
r1.area()

200

When we ran the above line of code, our object was `r1`, so when `area` was called, Python in fact called the method area in the `Rectangle` class automatically passing `r1` to the `self` parameter.

This is why we can use a name other than `self`, such as in the `perimeter` method:

In [ ]:
r1.perimeter()

60

Again, I'm just illustrating a point, don't actually do that!

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

In [ ]:
r1 = Rectangle(10, 20)

Python defines a bunch of special methods that we can use to give our classes functionality that resembles functionality of built-in and standard library objects.

Many people refer to them as magic methods, but there's nothing magical about them - unlike magic, they are well documented and understood!!

These special methods provide us an easy way to overload operators in Python.

For example, we can obtain the string representation of an integer using the built-in `str` function:

In [ ]:
str(10)

'10'

What happens if we try this with our `Rectangle` object?

In [ ]:
str(r1)

'<__main__.Rectangle object at 0x7fe790722350>'

Not exactly what we might have expected. On the other hand, how is Python supposed to know how to display our rectangle as a string?
<p>We could write a method in the class such as:

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def to_str(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)

So we could get a string from our object as follows:

In [ ]:
r1 = Rectangle(10, 20)
r1.to_str()

'Rectangle (width=10, height=20)'

But of course, using the built-in `str` function still does not work:

In [ ]:
str(r1)

'<__main__.Rectangle object at 0x7fe790727f90>'

Does this mean we are our of luck, and anyone who writes a class in Python will need to provide some method to do this, and probably come up with their own name for the method too, maybe `to_str`, `make_string`, `stringify`, and who knows what else.

Fortunately, this is where these special methods come in. When we call `str(r1)`, Python will first look to see if our class `(Rectangle)` has a special method called  `__str__` .

If the `__str__` method is present, then Python will call it and return that value.

There's actually another one called `__repr__` which is related, but we'll focus on `__str__` for now.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)

In [ ]:
r1 = Rectangle(10, 20)

In [ ]:
str(r1)

'Rectangle (width=10, height=20)'

However, in Jupyter (and interactive console if you are using that), look what happens here:

In [ ]:
r1

As you can see we still get that default. That's because here Python is not converting `r1` to a string, but instead looking for a string representation of the object. It is looking for the `__repr__` method.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)

In [ ]:
r1 = Rectangle(10, 20)

In [ ]:
print(r1) # uses __str__

Rectangle (width=10, height=20)

In [ ]:
r1 # uses __repr__

Rectangle(10, 20)

How about the comparison operators, such as `==` or `<` ?

In [ ]:
r1 = Rectangle(10, 20)
r2 = Rectangle(10, 20)

In [ ]:
r1 == r2

False

As you can see, Python does not consider `r1` and `r2` as equal (using the `==` operator). Again, how is Python supposed to know that two `Rectangle` objects with the same `height` and `width` should be considered equal?

We just need to tell Python how to do it, using the special method `__eq__`

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    def __eq__(self, other):
        print('self={0}, other={1}'.format(self, other))
        if isinstance(other, Rectangle):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False

In [ ]:
r1 = Rectangle(10, 20)
r2 = Rectangle(10, 20)

In [ ]:
r1 is r2

False

In [ ]:
r1 == r2

self=Rectangle (width=10, height=20), other=Rectangle (width=10, height=20)

True

In [ ]:
r3 = Rectangle(2, 3)

And if we try to compare our `Rectangle` to a different type:

In [ ]:
r1 == 100

self=Rectangle (width=10, height=20), other=100

False

Let's remove that `print` statement - I only put that in so you could see what the arguments were, in practice you should avoid side effects.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    def __eq__(self, other):
        if isinstance(other, Rectangle):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False

What about `<`, `>`, `<=`, etc.?

Again, Python has special methods we can use to provide that functionality.

These are methods such as `__lt__`, `__gt__`, `__le__`, etc.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    def __eq__(self, other):
        if isinstance(other, Rectangle):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False
    
    def __lt__(self, other):
        if isinstance(other, Rectangle):
            return self.area() < other.area()
        else:
            return NotImplemented

In [ ]:
r1 = Rectangle(100, 200)
r2 = Rectangle(10, 20)

In [ ]:
r1 < r2

False

In [ ]:
r2 < r1

True

What about `>` ?

In [ ]:
r1 > r2

True

How did that work? We did not define a `__gt__` method

Well, Python cleverly decided that since `r1 > r2` was not implemented, it would give `r2 < r1`

a try. And since, `__lt__` is defined, it worked!

Of course, `<=` is not going to magically work!

In [ ]:
r1 <= r2

TypeError: ignored

If you come from a Java background, you are probably thinking that using "bare" properties (direct access), such as `height` and `width` is a terrible design idea.

It is for Java, but not for Python.

Although you can use bare properties in Java, If you ever need to intercept the getting or setting of a property, you will need to write a method (such as `getWidth` and `setWidth`.) The problem is that if you used a  bare width property for example, a lot of your code might be using `obj.width` (as we have been doing here). The instant you make the `width` private and instead implement getters and setters, you break your code. Hence one of the reasons why in Java we just write getters and setters for properties from the beginning.

With Python this is not the case - we can change any bare property into getters and setters without beraking the code that uses that bare property.

I'll show you a quick example here, but we'll come back to this topic in much more detail later.
Let's take our `Rectangle` class once again. I'll use a simplified version to keep the code short.

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)

In [ ]:
r1 = Rectangle(10, 20)

In [ ]:
r1.width

10

In [ ]:
r1.width = 100

In [ ]:
r1

Rectangle(100, 20)

As you saw we can get and set the width property directly.

But let's say after this code has been released for a while and users of our class have been using it (and specifically setting and getting the `width` and `height` attribute a lot), but now we want to make sure users cannot set a non-positive value (i.e. `<=` 0) for `width` (or `height`, but we'll focus on `width` as an example).

In a language like Java, we would implement `getWidth` and `setWidth` and make width private - which would break any code directly accessing the `width` property.

In Python we can use some special decorators (more on those later) to encapsulate our property getters and setters:

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self._width = width
        self._height = height
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    @property
    def width(self):
        return self._width
    
    @width.setter
    def width(self, width):
        if width <= 0:
            raise ValueError('Width must be positive.')
        self._width = width
    
    @property
    def height(self):
        return self._height
    
    @height.setter
    def height(self, height):
        if height <= 0:
            raise ValueError('Height must be positive.')
        self._height = height

In [ ]:
r1 = Rectangle(10, 20)

In [ ]:
r1.width

10

In [ ]:
r1.width = 100

In [ ]:
r1

Rectangle(100, 20)

In [ ]:
r1.width = -10

ValueError: ignored

There are more things we should do to properly implement all this, in particular we should also be checking the positive and negative values during the `__init__` phase. We do so by using the accessor methods for `height` and `width`:

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self._width = None
        self._height = None
        # now we call our accessor methods to set the width and height
        self.width = width
        self.height = height
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    @property
    def width(self):
        return self._width
    
    @width.setter
    def width(self, width):
        if width <= 0:
            raise ValueError('Width must be positive.')
        self._width = width
    
    @property
    def height(self):
        return self._height
    
    @height.setter
    def height(self, height):
        if height <= 0:
            raise ValueError('Height must be positive.')
        self._height = height

In [ ]:
r1 = Rectangle(0, 10)

ValueError: ignored

There more we should be doing, like checking that the width and height being passed in are numeric types, and so on. Espcially during the `__init__` phase. - we would rather raise an exception when the object is being created rather than delay things and raise an exception when the user calls some method like area - that way the exception will be on the line that creates the object - makes debugging much easier!

There are mant more of these special methods, and we'll look in detail at them later in this course.

## Section 03 - Variables and Memory

### 01 - Variables and Memory References

We can find the memory address that a variable references, by using `id()` function.

The `id()` function returns the memory address of its argument as a base-10 integer.

We can use the function `hex()` to convert the base-10 to base-16

In [ ]:
my_var = 10
print('my_var = {0}'.format(my_var))
print('memory address of my_var (decimal): {0}'.format(id(my_var)))
print('memory address of my_var (hex): {0}'.format(hex(id(my_var))))

my_var = 10
memory address of my_var (decimal): 11122880
memory address of my_var (hex): 0xa9b8c0

In [ ]:
greeting = 'Hello'
print('greeting = {0}'.format(greeting))
print('memory address of my_var (decimal): {0}'.format(id(greeting)))
print('memory address of my_var (hex): {0}'.format(hex(id(greeting))))

greeting = Hello
memory address of my_var (decimal): 139693754789808
memory address of my_var (hex): 0x7f0cfca1afb0



---
**BE CAREFUL!**

*Note how the memory address of `my_var` is different from that of `greeting`.*

*Strictly speaking, `my_var` is not "equal" to 10.*

*Instead `my_var` is a reference to an (integer) object (containing the value 10) located at the memory address `id(my_var)`*

*Similarly for the variable `greeting`*



---

### 02 - Reference Counting

Method that returns the reference count for a given variable's memory address:

In [ ]:
import ctypes

def ref_count(address):
    return ctypes.c_long.from_address(address).value

Let's make a variable, and check it's reference count:

In [ ]:
my_var = [1, 2, 3, 4]
ref_count(id(my_var))

1

There is another built-in function we can use to obtain the reference count:

In [ ]:
import sys
sys.getrefcount(my_var)

3

But why is this returning 3, instead of the expected 2 we obtained with the previous function?

Answer: The `sys.getrefcount()` function takes `my_var` as an argument, this means it receives (and stores) a reference to `my_var`'s memory address also - hence the count is off by 1. So we will use `from_address()` instead.

We make another reference to the same reference as `my_var`:

In [ ]:
other_var = my_var

Let's look at the memory address of those two variables and the reference counts:

In [ ]:
print(hex(id(my_var)), hex(id(other_var)))
print(ref_count(id(my_var)))

0x7f0cf72fa5f0 0x7f0cf72fa5f0
4

Force one reference to go away:

In [ ]:
other_var = None

And we look at the reference count again:

In [ ]:
print(ref_count(id(my_var)))

2

We see that the reference count has gone back to 2.

You'll probably never need  to do anythinli like this in Python. Memory management is completely transparent - this is just to illustrate some of what is going behind the scenes as it helps to understand upcoming concepts.



---
**BE CAREFUL!**

*In Google Colab Environment, `getrefcount()` function gives us the value 3, but in your local Jupyter notebook, it will be 2.*



---

### 03 - Garbage Collection

In [ ]:
import ctypes
import gc

We use the same function that we used in the lesson on reference counting to calculate the numver of references to a specified object (using its memory address to avoid creating an extra reference)

In [ ]:
def ref_count(address):
    return ctypes.c_long.from_address(address).value

We create a function that will search the objects in the GC for a specified id and tell us if the object was found or not:

In [ ]:
def object_by_id(object_id):
    for obj in gc.get_objects():
        if id(obj) == object_id:
            return "Object exists"
    return "Not found"

Next we define two classes that we will use to create a circular reference.

Class A's constructor will create an instance of class B and pass itself to class B's constructor that will then store that reference in some instance variable.

In [ ]:
class A:
    def __init__(self):
        self.b = B(self)
        print('A: self: {0}, b:{1}'.format(hex(id(self)), hex(id(self.b))))

In [ ]:
class B:
    def __init__(self, a):
        self.a = a
        print('B: self: {0}, a: {1}'.format(hex(id(self)), hex(id(self.a))))

We turn off the GC so we can see how reference counts are affected when the GC does not run and whne it does (by running it manually)

In [ ]:
gc.disable()

Now we create an instance of A, which will, in turn, create an instance of B which will store a reference to the calling A instance.

In [ ]:
my_var = A()

B: self: 0x7f0cf738f910, a: 0x7f0cf738f850
A: self: 0x7f0cf738f850, b:0x7f0cf738f910

As we can see A and B's constructors ran, and we also see from the memory addresses that we have a circular reference.

In fact `my_var` is also a reference to the same A instance:

In [ ]:
print(hex(id(my_var)))

0x7f0cf738f850

Another way to see this:

In [ ]:
print('a: \t{0}'.format(hex(id(my_var))))
print('a.b: \t{0}'.format(hex(id(my_var.b))))
print('b.a: \t{0}'.format(hex(id(my_var.b.a))))

a: 	0x7f0cf738f850
a.b: 	0x7f0cf738f910
b.a: 	0x7f0cf738f850

In [ ]:
a_id = id(my_var)
b_id = id(my_var.b)

We can see how many references we have for `a` and `b`

In [ ]:
my_var = None

In [ ]:
print('refcount(a) = {0}'.format(ref_count(a_id)))
print('refcount(b) = {0}'.format(ref_count(b_id)))
print('a: {0}'.format(object_by_id(a_id)))
print('b: {0}'.format(object_by_id(b_id)))

refcount(a) = 1
refcount(b) = 1
a: Object exists
b: Object exists

As we can see, the reference counts are now both equal to 1 (a pure circular reference), and reference counting alone did not destroy the A and B instances - they're still around. If no garbage collection is performed this would result in a memory leak.

Let's run the GC manually and re-check whether the objects still exist:

In [ ]:
gc.collect()
print('refcount(a) = {0}'.format(ref_count(a_id)))
print('refcount(b) = {0}'.format(ref_count(b_id)))
print('a: {0}'.format(object_by_id(a_id)))
print('b: {0}'.format(object_by_id(b_id)))

refcount(a) = 0
refcount(b) = 0
a: Not found
b: Not found

### 04 - Dynamic vs Static Typing

Python is dynamically typed.

This means that the type of a variable is simply the type of the object the variable name points to (references).The variable itself has no associated type.

In [ ]:
a = "hello"

In [ ]:
type(a)

str

In [ ]:
a = 10

In [ ]:
type(a)

int

In [ ]:
a = lambda x: x ** 2

In [ ]:
a(2)

4

In [ ]:
type(a)

function

As you can see from the above examples, the type of the variable `a` changed over time - in fact it was simply the type of the object `a` was referencing at that time. No type was ever attached to the variable name itself.

### 05 - Variable Re-Assignment

Notice how the memory address of `a` is different every time.

In [ ]:
a = 10
hex(id(a))

'0xa9b8c0'

In [ ]:
a = 15
hex(id(a))

'0xa9b960'

In [ ]:
a = 5
hex(id(a))

'0xa9b820'

In [ ]:
a = a + 1
hex(id(a))

'0xa9b840'

However, look at this:

In [ ]:
a = 10
b = 10
print(hex(id(a)))
print(hex(id(b)))

0xa9b8c0
0xa9b8c0

The memory adresses of both `a` and `b` are the same!!

### 06 - Object Mutability

Certain Python built-in object types (aka data types) are mutable.

That is, the internal contents (state) of the object in memory can be modified.

In [ ]:
my_list = [1, 2, 3]
print(my_list)
print(hex(id(my_list)))

[1, 2, 3]
0x7f0cf73abbe0

In [ ]:
my_list.append(4)
print(my_list)
print(hex(id(my_list)))

[1, 2, 3, 4]
0x7f0cf73abbe0

As you can see, the memory address of `my_list` has not changed.

But the contents of `my_list` has changed from [1, 2, 3] to [1, 2, 3, 4].



---
**BE CAREFUL!**

*On the other hand, consider this:*

In [ ]:
my_list_1 = [1, 2, 3]
print(my_list_1)
print(hex(id(my_list_1)))

[1, 2, 3]
0x7f0cef981f50

In [ ]:
my_list_1 = my_list_1 + [4]
print(my_list_1)
print(hex(id(my_list_1)))

[1, 2, 3, 4]
0x7f0cef988aa0

*Notice here that the memory address of `my_list_1` did change.*

*This is because concatenating two lists objects `my_list_1` and `[4]` did not modify the contents of `my_list_1` - instead it created a new list object and re-assigned `my_list_1` to reference this new object.*

*Similarly with ditionary objects that are also mutable types.*



---

In [ ]:
my_dict = dict(key1 = 'value 1')
print(my_dict)
print(hex(id(my_dict)))

{'key1': 'value 1'}
0x7f0cef8f80a0

In [ ]:
my_dict['key1'] = 'modified value 1'
print(my_dict)
print(hex(id(my_dict)))

{'key1': 'modified value 1'}
0x7f0cef8f80a0

In [ ]:
my_dict['key2'] = 'value 2'
print(my_dict)
print(hex(id(my_dict)))

{'key1': 'modified value 1', 'key2': 'value 2'}
0x7f0cef8f80a0

Once again we see that while we are modifying the contents of the dictionary, the memory address of `my_dict` has not changed.

Now consider the immutable sequence type: tuple

The tuple is immutable, so elements cannot be added, removed or replaced.

In [ ]:
t = (1 ,2 ,3)

This tuple will never change at all. It has three elementes, the integers 1, 2 , and 3. This will remain the case as long as `t`'s reference is not changed.



---
**BE CAREFUL!**

*But, consider the following tuple:*

In [ ]:
a = [1, 2]
b = [3, 4]
t = (a, b)

*Now, `t` is still immutable, i.e. it contains a reference to the object `a` abd the object `b`. That will never change as long as `t`'s reference is not re-assigned.*

*However, the elements `a` and `b` are, themselves, mutable.*

In [ ]:
a.append(3)
b.append(5)
print(t)

([1, 2, 3], [3, 4, 5])

*Observe that the contents of `a` and `b` did change!*

*So immutability can be a littlme more subtle than just thinking something can never change.*

*The tuple `t` did not change - it contains two elements, that are the references `a` and `b`. And that will not change. But, because the referenced elements are mutable themselves, it appears as though the tuple has changed.*

*It  hasn't though - tha distinction is subtle but important to understand!*



---

### 07 - Function Arguments and Mutability

Consider a function that receives a string argument, and changes the argument in some way:

In [ ]:
def process(s):
    print('initial s # = {0}'.format(hex(id(s))))
    s = s + ' world'
    print('s after change # = {0}'.format(hex(id(s))))

In [ ]:
my_var = 'hello'
print('my_var # = {0}'.format(hex(id(my_var))))

my_var # = 0x7f0cfc68fa30

Note that when s is received, it is referencing the same object as `my_var`.

After we "modify" s, s is pointing to a new memory address:

In [ ]:
process(my_var)

initial s # = 0x7f0cfc68fa30
s after change # = 0x7f0cef530db0

And our own variable `my_var` is still pointing to the original memory address:

In [ ]:
print('my_var # = {0}'.format(hex(id(my_var))))

my_var # = 0x7f0cfc68fa30

Let's see how this works with mutable objects:

In [ ]:
def modify_list(items):
    print('initial items # = {0}'.format(hex(id(items))))
    if len(items) > 0:
        items[0] = items[0] ** 2
    items.pop()
    items.append(5)
    print('final items # = {0}'.format(hex(id(items))))

In [ ]:
my_list = [2, 3, 4]
print('my_list # = {0}'.format(hex(id(my_list))))

my_list # = 0x7f0cef388f50

In [ ]:
modify_list(my_list)

initial items # = 0x7f0cef388f50
final items # = 0x7f0cef388f50

In [ ]:
print(my_list)
print('my_list # = {0}'.format(hex(id(my_list))))

[4, 3, 5]
my_list # = 0x7f0cef388f50

As you can see, thoughout all the code, the memory address referenced by `my_list` and `items` is always the same (shared) reference - we are simply modifying the contents (internal state) of the object at that memory address.

Now, even with immutable container objects we have to be careful, e.g. a tuple containing a list (the tuple is immutable, but the list element inside the tuple is mutable)

In [ ]:
def modify_tuple(t):
    print('initial t # = {0}'.format(hex(id(t))))
    t[0].append(100)
    print('final t # = {0}'.format(hex(id(t))))

In [ ]:
my_tuple = ([1, 2], 'a')

In [ ]:
hex(id(my_tuple))

'0x7f0cef29b410'

In [ ]:
modify_tuple(my_tuple)

initial t # = 0x7f0cef29b410
final t # = 0x7f0cef29b410

In [ ]:
my_tuple

([1, 2, 100], 'a')

As you can see, the first element of the tuple was mutated.

### 08 - Shared References and Mutability

The following sets up a shared reference between the variables `my_var_1` and `my_var_2`

In [ ]:
my_var_1 = 'hello'
my_var_2 = my_var_1
print(my_var_1)
print(my_var_2)

hello
hello

In [ ]:
print(hex(id(my_var_1)))
print(hex(id(my_var_2)))

0x7f52d07a7d70
0x7f52d07a7d70

In [ ]:
my_var_2 = my_var_2 + ' world!'

In [ ]:
print(hex(id(my_var_1)))
print(hex(id(my_var_2)))

0x7f52d07a7d70
0x7f52cb4cb8b0



---
**BE CAREFUL!**

*Be careful if the variable type is mutable!*

*Here we create a list `(my_list_1)` and create a variable `(my_list_2)` referencing the same list object:*

In [ ]:
my_list_1 = [1, 2, 3]
my_list_2 = my_list_1
print(my_list_1)
print(my_list_2)

[1, 2, 3]
[1, 2, 3]

*As we can see they have the same memory address (shared reference):*

In [ ]:
print(hex(id(my_list_1)))
print(hex(id(my_list_2)))

0x7f52cb46ea00
0x7f52cb46ea00



---

Now we modify the list referenced by `my_list_2`:

In [ ]:
my_list_2.append(4)

`my_list_2` has been modified:

In [ ]:
print(my_list_2)

[1, 2, 3, 4]

And since my_list_1 references the same list object, it has also changed:

In [ ]:
print(my_list_1)

[1, 2, 3, 4]

As you can see, both variables still share the same reference:

In [ ]:
print(hex(id(my_list_1)))
print(hex(id(my_list_2)))

0x7f52cb46ea00
0x7f52cb46ea00

**Behind the scenes with Python's memory manager**

Recall from a few lectures back:

In [ ]:
a = 10
b = 10

In [ ]:
print(hex(id(a)))
print(hex(id(b)))

0xa9b8c0
0xa9b8c0

Same memory address!!

This is safe for Python to do because integer objects are immutable.

So, even though `a` and `b` initially shared the same memory address, we can never modify a's value by "modifying" b' value.

The only way to change `b`'s value is to change it's reference, which will never affect `a`.

In [ ]:
b = 15

In [ ]:
print(hex(id(a)))
print(hex(id(b)))

0xa9b8c0
0xa9b960

However, for mutable objects, Python's memory manager does not do this, since that would not be safe.

In [ ]:
my_list_1 = [1, 2, 3]
my_list_2 = [1, 2 ,3]

As you can see, although the two variables were assingend identical "contents", the memory addresses are not the same:

In [ ]:
print(hex(id(my_list_1)))
print(hex(id(my_list_2)))

0x7f52c3ccd780
0x7f52c3d3ceb0

### 09 - Variable Equality

From the previous lecture we know that `a` and `b` will have a shared reference:

In [ ]:
a = 10
b = 10

print(hex(id(a)))
print(hex(id(b)))

0xa9b8c0
0xa9b8c0

When we use the `is` operator, we are comparing t he moemory address references:

In [ ]:
print("a is b ", a is b)

a is b  True

But if we use the `==` operator, we are comparing the contents:

In [ ]:
print("a == b", a == b)

a == b True

The following however, do not have a shared reference:

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(hex(id(a)))
print(hex(id(b)))

0x7f52c3d2d500
0x7f52c3d2d280

Although they are not the same objects, they do contain the same "values"

In [ ]:
print("a is b", a is b)
print("a == b", a == b)

a is b False
a == b True

Python will attempt to compare values as best as posssible, for example:

In [ ]:
a = 10
b = 10.0

These are not the same reference, since one object is an `int` and the other is a `float`

In [ ]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
print(hex(id(a)))
print(hex(id(b)))

0xa9b8c0
0x7f52c3d19510

In [ ]:
print("a is b", a is b)
print("a == b", a == b)

a is b False
a == b True

So, even though `a` is an integer 10, and `b` is a float 10.0, the values will still compare as equal.

In fact, this will also have the same behavior:

In [ ]:
c = 10 + 0j
print(type(c))

<class 'complex'>

In [ ]:
print("a is c", a is c)
print("a == c", a == c)

a is c False
a == c True

**The None Object**

`None` is a built-in "variable" of type `NoneType`.

Basically the keyword `None` is a reference to an object instance of `NoneType`.

NoneType objects are immutable! Python's memory manager will therefore use shared references to the None object.

In [ ]:
print(None)

None

In [ ]:
hex(id(None))

'0xa9be00'

In [ ]:
type(None)

NoneType

In [ ]:
a = None
print(type(a))
print(hex(id(a)))

<class 'NoneType'>
0xa9be00

In [ ]:
a is None

True

In [ ]:
a == None

True

In [ ]:
b = None
hex(id(b))

'0xa9be00'

In [ ]:
a is b

True

In [ ]:
a == b

True

In [ ]:
l = []

In [ ]:
type(l)

list

In [ ]:
l is None

False

In [ ]:
l == None

False

### 10 - Everything is an Object

![image.png]()

In [ ]:
a = 10

`a` is an object of type `int`, i.e. `a` is an instance of the `int` class.

In [ ]:
print(type(a))

<class 'int'>

if `int` is a class, we should be able to declare it using standard class instatiation:

In [ ]:
b = int(10)

In [ ]:
print(b)
print(type(b))

10
<class 'int'>

We can even request the class documentation:

In [ ]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

As we see from the docs, we can even create an `int` using an overloaded constructor:

In [ ]:
b = int('10', base=2)

In [ ]:
print(b)
print(type(b))

2
<class 'int'>

**Functions are Objects too**

In [ ]:
def square(a):
    return a ** 2

In [ ]:
type(square)

function

In fact, we can even assign them to a variable:

In [ ]:
f = square

In [ ]:
type(f)

function

In [ ]:
f is square

True

In [ ]:
f(2)

4

In [ ]:
type(f(2))

int

A function can return a function:

In [ ]:
def cube(a):
    return a ** 3

In [ ]:
def select_function(fn_id):
    if fn_id == 1:
        return square
    else:
        return cube

In [ ]:
f = select_function(1)
print(hex(id(f)))
print(hex(id(square)))
print(hex(id(cube)))
print(type(f))
print('f is square: ', f is square)
print('f is cube: ', f is cube)
print(f)
print(f(2))

0x7fbb78fb4170
0x7fbb78fb4170
0x7fbb7422a680
<class 'function'>
f is square:  True
f is cube:  False
<function square at 0x7fbb78fb4170>
4

We could even call it this way:

In [ ]:
select_function(1)(5)

25

A Function can be passed as an argument to another function.

(This example is pretty useless, but it illustrates the point effectively)

In [ ]:
def exec_function(fn, n):
    return fn(n)

In [ ]:
result = exec_function(cube, 2)
print(result)

8

### 11 - Python Optimizations - Interning

Earlier, we saw shared references being created automatically by Python:

In [ ]:
a = 100
b = 100
print(id(a))
print(id(b))

11129856
11129856

Note how `a` and `b` reference the same object.



---
**BE CAREFUL!**

*But consider the following example:*

In [ ]:
a = 500
b = 500
print(id(a))
print(id(b))

140443083212912
140443083212880

*As you can see, the variables `a` and `b` do not point to the same object!*

*This is because Python pre-caches integer objects in the range [-5, 256]*

*So for example:*

In [ ]:
a = 256
b = 256
print(id(a))
print(id(b))

11134848
11134848

*and*

In [ ]:
a = -5
b = -5
print(id(a))
print(id(b))

11126496
11126496

do have the same reference.

*This is called **interning**: Python **interns** the integers in the range [-5, 256].*

*The integers in the range [-5, 256] are essentially **singleton** objects.*

In [ ]:
a = 10
b = int(10)
c = int('10')
d = int('1010', 2)

In [ ]:
print(a, b, c, d)

10 10 10 10

In [ ]:
a is b

True

In [ ]:
a is c

True

In [ ]:
a is d

True

As you can see, all these variables were created in different ways, but since the integer object with value 10 behaves like a singleton, they all ended up pointing to the same object in memory.

### 12 - Python Optimizations: String Interning

Python will automatically intern certain strings.

In particular all the identifiers (variable names, function names, class names, etc) are interned (singleton objects created).

Python will also intern string literals that look like identifiers.

For example:

In [ ]:
a = 'hello'
b = 'hello'
print(id(a))
print(id(b))

140443171277424
140443171277424



---
**BE CAREFUL!**

*But not the following:*

In [ ]:
a = 'hello, world!'
b = 'hello, world!'
print(id(a))
print(id(b))

140443083819120
140443083819888



---

However, because the following literals resemble identifiers, even though they are quite long, Python will still automatically intern them:

In [ ]:
a = 'hello_world'
b = 'hello_world'
print(id(a))
print(id(b))

140443084078448
140443084078448

And even longer:

In [ ]:
a = '_this_is_a_long_string_that_could_be_used_as_an_identifier'
b = '_this_is_a_long_string_that_could_be_used_as_an_identifier'
print(id(a))
print(id(b))

140443083315888
140443083315888

Even if the string starts with a digit:

In [ ]:
a = '1_hello_world'
b = '1_hello_world'
print(id(a))
print(id(b))

140443083991152
140443083991152

That was interned (pointer is the same), but look at this one:

In [ ]:
a = '1 hello world'
b = '1 hello world'
print(id(a))
print(id(b))

140443084047664
140443084048496

Interning strings (making them singleton objects) means that testing for string equality can be done faster by comparing the memory address:

In [ ]:
a = 'this_is_a_long_string'
b = 'this_is_a_long_string'
print('a==b:', a == b)
print('a is b:', a is b)

a==b: True
a is b: True



---
**BE CAREFUL!**

*Note: Remember, using `is` ONLY works if the strings were interned!*

*Here's where this technique fails:*

In [ ]:
a = 'hello world'
b = 'hello world'
print('a==b:', a==b)
print('a is b:', a is b)

a==b: True
a is b: False



---

You can force strings to be interned (but only use it if you have a valid performance optimization need):

In [ ]:
import sys

In [ ]:
a = sys.intern('hello world')
b = sys.intern('hello world')
c = 'hello world'
print(id(a))
print(id(b))
print(id(c))

140443083573744
140443083573744
140443083573232

Notice how `a` and `b` are pointing to the same object, but `c` is NOT.

So, since both `a` and `b` were interned we can use `is` to test for equality of the two strings:

In [ ]:
print('a==b:', a==b)
print('a is b', a is b)

a==b: True
a is b True

So, does interning really make a big speed difference?

Yes, but only if you are performing a lot of comparisons.

Let's run som quick and dirty benchamarks:

In [ ]:
def compare_using_equals(n):
    a = 'a long string that is not interned' * 200
    b = 'a long string that is not interned' * 200
    for i in range(n):
        if a == b:
            pass

In [ ]:
def compare_using_interning(n):
    a = sys.intern('a long string that is not interned' * 200)
    b = sys.intern('a long string that is not interned' * 200)
    for i in range(n):
        if a is b:
            pass

In [ ]:

import time

start = time.perf_counter()
compare_using_equals(10000000)
end = time.perf_counter()

print('equality: ', end-start)

equality:  2.8042394550000154

In [ ]:
start = time.perf_counter()
compare_using_interning(10000000)
end = time.perf_counter()

print('identity: ', end-start)

identity:  0.4518533970000078

As you can see, the performance difference, especially for long strings, and for many comparisons, can be quite radical!

### 13 - Python Optimizations - PeepHole

Peephole optimizations refer to a certain class of optimization stratigies Python employs during any compilation phases.

**Constant Expressions**

Let's see how Python reduces constant expressions for optimization purposes:

In [ ]:
def my_func():
    a = 24 *60
    b = (1, 2) * 5
    c = 'abc' * 3
    d = 'ab' * 11
    e = 'the quick brown fox' * 10
    f = [1, 2] * 5

In [ ]:
my_func.__code__.co_consts

(None,
 1440,
 (1, 2, 1, 2, 1, 2, 1, 2, 1, 2),
 'abcabcabc',
 'ababababababababababab',
 'the quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown foxthe quick brown fox',
 1,
 2,
 5)

As you can see in the example above `24 * 60` was pre-calculated and cached as a constant (`1440`).

Similarly, `(1, 2) * 5` was cached as `(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)` and `'abc' * 3` was cached as `abcabcabc`

On the other hand, note how `'the quick brown fox'* 10` was not pre-calculated (too long).

Similarly `[1, 2] * 5` was not pre-calculated either siince a list is mutable, and hence not a constant.

**Membership Tests**

In membership testing, optimizations are applied as can be seen below:

In [ ]:
def my_func():
    if e in [1, 2, 3]:
        pass

In [ ]:
my_func.__code__.co_consts

(None, (1, 2, 3))

As you can see, the mutable list `[1, 2, 3]` was converted to an immutable tuple.

It is OK to do this here, since we are testing membersip of the list at that point in time, hence it is safe to convert it to a tuple, which is more efficient tan testing membership of a list.

In the same way, set membership will be converted to frozen set membership:

In [ ]:
def my_func():
    if e in {1, 2, 3}:
        pass

In [ ]:
my_func.__code__.co_consts

(None, frozenset({1, 2, 3}))

In general, when you are writing your code, if you can use `set` membership testing, prefer that over a list or tuple - it is quite a bit more efficien.

Let's do a small quick (and dirty) benchmark of this:

In [ ]:
import string
import time

char_list = list(string.ascii_letters)
char_tuple = tuple(string.ascii_letters)
char_set = set(string.ascii_letters)

print(char_list)
print()
print(char_tuple)
print()
print(char_set)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

{'B', 's', 'N', 'y', 'C', 'h', 'H', 'E', 'r', 'a', 'K', 'Z', 'M', 'A', 'X', 'p', 'L', 'F', 'T', 'R', 'o', 'J', 'k', 'j', 'P', 'm', 'd', 'z', 'V', 'Q', 'S', 'n', 'c', 'U', 'D', 'e', 'b', 'q', 'l', 'x', 'Y', 'g', 't', 'I', 'v', 'O', 'i', 'u', 'G', 'W', 'f', 'w'}

In [ ]:
def membership_test(n, container):
    for i in range(n):
        if 'p' in container:
            pass

In [ ]:
start = time.perf_counter()
membership_test(10000000, char_list)
end = time.perf_counter()
print('list membership: ', end-start)

list membership:  3.3318765660000054

In [ ]:
start = time.perf_counter()
membership_test(10000000, char_tuple)
end = time.perf_counter()
print('tuple membership: ', end-start)

tuple membership:  3.159936841999979

In [ ]:
start = time.perf_counter()
membership_test(10000000, char_set)
end = time.perf_counter()
print('set membership: ', end-start)

set membership:  0.5346670469999992

As you can see, set membership tests run quite a bit faster - which is not suprising since they are basically dictionary-like objects, so hash maps are used for looking up an item to determine membership.

## Section 04 - Numeric Types

### 01 - Integers - Data Type

Integers are objects - instances of the `int` class

In [ ]:
print(type(100))

<class 'int'>

They are a variable length data type that can theoretically handle any integer magnitude. This will take up a variable amount of memory that depends on the particular size of the integer.

In [ ]:
import sys

Creating an integer object requires an overhead of 24 bytes.

In [ ]:
sys.getsizeof(0)

24

Here we see that to store the number 1 required 4 bytes (32 bits) on top of the 24 byte overhead:

In [ ]:
sys.getsizeof(1)

28

Larger numbers will require more storage space:

In [ ]:
sys.getsizeof(2**1000)

160

Larger integers will also slow down calcultaions.

In [ ]:
import time

In [ ]:
def calc(a):
    for i in range(10000000):
        a * 2

We start with a small integer value for a (10):

In [ ]:
start = time.perf_counter()
calc(10)
end = time.perf_counter()
print(end - start)

0.5283330960000114

Now we set a to something larger `2**100`:

In [ ]:
start = time.perf_counter()
calc(2**100)
end = time.perf_counter()
print(end - start)

0.7833494010000095

Finally we set a to some really large  value `2**10000`

In [ ]:
start = time.perf_counter()
calc(2**10000)
end = time.perf_counter()
print(end - start)

4.519727152999991

### 02 - Integers - Operations

Addition, subtraction, multiplicatin and exponentiation of integers always resul in an integer. (In the case of exponentiation this holds for positive integer exponents.)

In [ ]:
type(2 + 3)

int

In [ ]:
type(3 - 10)

int

In [ ]:
type(3 * 5)

int

In [ ]:
type(3 ** 4)

int

But the standard division operator `/` always results in a float value.

In [ ]:
type(2 / 3)

float

In [ ]:
type(10 / 2)

float

The `math.floor()` method will return the floor of any number.

In [ ]:
import math

For non-negative values (>=0), the floor of the value is the same as the integer portion of the value (truncation)

In [ ]:
math.floor(3.15)

3

In [ ]:
math.floor(3.9999999)

3

However, this is not the case for negative values:

In [ ]:
math.floor(-3.15)

-4

In [ ]:
math.floor(-3.0000001)

-4

**The Floor Division Operator**

The floor division operator `a//b` is the floor of `a / b`

i.e. `a // b = math.floor(a / b)`

This is true whether `a` and `b` are positive or negative.

In [ ]:
a = 33
b = 16
print(a/b)
print(a//b)
print(math.floor(a/b))

2.0625
2
2

For positive numbers, `a//b` is basically the same as truncating (taking the integer portion) of `a / b`.

But this is not the case for negative numbers.

In [ ]:
a = -33
b = 16
print('{0}/{1} = {2}'.format(a, b, a/b))
print('trunc({0}/{1}) = {2}'.format(a, b, math.trunc(a/b)))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('floor({0}//{1}) = {2}'.format(a, b, math.floor(a/b)))

-33/16 = -2.0625
trunc(-33/16) = -2
-33//16 = -3
floor(-33//16) = -3

In [ ]:
a = 33
b = -16
print('{0}/{1} = {2}'.format(a, b, a/b))
print('trunc({0}/{1}) = {2}'.format(a, b, math.trunc(a/b)))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('floor({0}//{1}) = {2}'.format(a, b, math.floor(a/b)))

33/-16 = -2.0625
trunc(33/-16) = -2
33//-16 = -3
floor(33//-16) = -3

**The Modulo Operator**
The modulo operator and the floor division operator will always satisfy the following equation:

`a = b * (a // b) + a % b`

In [ ]:
a = 13
b = 4
print('{0}/{1} = {2}'.format(a, b, a/b))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('{0}%{1} = {2}'.format(a, b, a%b))
print(a == b * (a//b) + a%b)

13/4 = 3.25
13//4 = 3
13%4 = 1
True

In [ ]:
a = -13
b = 4
print('{0}/{1} = {2}'.format(a, b, a/b))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('{0}%{1} = {2}'.format(a, b, a%b))
print(a == b * (a//b) + a%b)

-13/4 = -3.25
-13//4 = -4
-13%4 = 3
True

In [ ]:
a = 13
b = -4
print('{0}/{1} = {2}'.format(a, b, a/b))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('{0}%{1} = {2}'.format(a, b, a%b))
print(a == b * (a//b) + a%b)

13/-4 = -3.25
13//-4 = -4
13%-4 = -3
True

In [ ]:
a = -13
b = -4
print('{0}/{1} = {2}'.format(a, b, a/b))
print('{0}//{1} = {2}'.format(a, b, a//b))
print('{0}%{1} = {2}'.format(a, b, a%b))
print(a == b * (a//b) + a%b)

-13/-4 = 3.25
-13//-4 = 3
-13%-4 = -1
True

### 03 - Integers - Constructors and Bases

**Constructors**
The `int` class has two constructors

In [ ]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [ ]:
int(10)

10

In [ ]:
int(10.9)

10

In [ ]:
int(-10.9)

-10

In [ ]:
from fractions import Fraction

In [ ]:
a = Fraction(22, 7)

In [ ]:
a

Fraction(22, 7)

In [ ]:
int(a)

3

We can use the second constructor to generate integers (base 10) from strings in any base.

In [ ]:
int("10")

10

In [ ]:
int("101", 2)

5

In [ ]:
int("101", 2)

5

In [ ]:
int("101", base=2)

5

Python uses `a-z` for bases from 11 to 36.



---
**BE CAREFUL!**


*Note that the letters are not case sensitive.*

In [ ]:
int("F1A", base=16)

3866

In [ ]:
int("f1a", base=16)

3866

*Of course, the string must be a valid number in whatever base you specify.*

In [ ]:
int('B1A', base=11)

ValueError: ignored

In [ ]:
int('B1A', 12)



---

**Base Representations**

**Built-ins**

In [ ]:
bin(10)

In [ ]:
oct(10)

In [ ]:
hex(10)



---

**BE CAREFUL!**

*Note the `0b`, `0o`, `0x` prefixes.*

*You can use these in your own strings as well, and they correspond to prefixes used in integer literals as well.*

In [ ]:
a = int('1010', 2)
b = int('0b1010', 2)
c = 0b1010

In [ ]:
print(a, b, c)

In [ ]:
a = int('f1a', 16)
b = int('0xf1a', 16)
c = 0xf1a

In [ ]:
print(a, b, c)

For literals, the `a-z` characters are not case-sensitive either.

In [ ]:
a = 0xf1a
b = 0xF1a
c = 0XF1A

In [ ]:
print(a, b, c)

**Custom Rebasing**

Python only provides built-in function to rebase to base 2, 8, 16.

For other bases, you have to provide your own algorithm (or leverage some 3rd party library of your choice)

In [ ]:
def from_base10(n, b):
    if b < 2:
        raise ValueError('Base b must be >= 2')
    if n < 0:
        raise ValueError('Number n must be >= 0')
    if n == 0:
        return [0]
    digits = []
    while n > 0:
        # m = n % b
        # n = n // b
        # which is the same as:
        n, m = divmod(n, b)
        digits.insert(0, m)
    return digits

In [ ]:
from_base10(10, 2)

In [ ]:
from_base10(255, 16)

Next we may want to encode the digits into strings using different characters for each digit in the base.

In [ ]:
def encode(digits, digit_map):
    # we require that digit_map has at least as many
    # characters as the max number in digits
    if max(digits) >= len(digit_map):
        raise ValueError("digit_map is not long enough to encode digits")
    
    # we'll see this later, but the following would be better:
    encoding = ''.join([digit_map[d] for d in digits])
    return encoding

Now we can encode any list of digits:

In [ ]:
encode([1, 0, 1], "FT")

In [ ]:
encode([1, 10, 11], '0123456789AB')

And we can combine both functions into a sinhle one for easier use:

In [ ]:
def rebase_from10(number, base):
    digit_map = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    if base < 2 or base > 36:
        raise ValueError('Invalid base: 2 <= base <= 36')
    # we store the sign of number and maket it positive
    # we'll re-insert the sign at the end
    sign = -1 if number < 0 else 1
    number *= sign

    digits = from_base10(number, base)
    encoding = encode(digits, digit_map)
    if sign == -1:
        encoding = '-' + encoding
    return encoding

In [ ]:
e = rebase_from10(10, 2)
print(e)
print(int(e, 2))

In [ ]:
e = rebase_from10(-10, 2)
print(e)
print(int(e, 2))

In [ ]:
rebase_from10(131, 11)

In [ ]:
rebase_from10(4095, 16)

In [ ]:
rebase_from10(-4095, 16)

### 04 - Rational Numbers

In [ ]:
from fractions import Fraction

We can get some info on the Fraction class:

In [ ]:
help(Fraction)

We can create Fraction objects in a variety of ways:

Using integers:

In [ ]:
Fraction(1)

In [ ]:
Fraction(1, 3)

Using rational numbers:

In [ ]:
x = Fraction(2, 3)
y = Fraction(3, 4)
# 2/3 / 3/4 --> 2/3 * 4/3 --> 8/9
Fraction(x, y)

Using floats:

In [ ]:
Fraction(0.125)

In [ ]:
Fraction(0.5)

Using strings:

In [ ]:
Fraction('10.5')

In [ ]:
Fraction('22/7')

Fractions are automatically reduced:

In [ ]:
Fraction(8, 16)

Negative sign is attached to the numerator:

In [ ]:
Fraction(-1, 4)

Standard arithmetic operators are supported:

In [ ]:
Fraction(1, 3) + Fraction(1, 3) + Fraction(1, 3)

In [ ]:
Fraction(1, 2) * Fraction(1, 4)

In [ ]:
Fraction(1, 2) / Fraction(1, 3)

We can recover the numerator and denominator (integers):

In [ ]:
x = Fraction(22, 7)
print(x.numerator)
print(x.denominator)

Since floats have finite precision, any float can be convertted to a rational number:

In [ ]:
import math
x = Fraction(math.pi)
print(x)
print(float(x))

In [ ]:
x = Fraction(math.sqrt(2))
print(x)



---

**BE CAREFUL!**

*Note that these rational values are approximations to the irrational number `pi` and `sqrt(2)`*

*Float number representations (as we will examine in future lessons) do not always have an exact representation.*

*The number 0.125 (1/8) has an exact representation:*

In [ ]:
Fraction(0.125)

*and so we see the expected equivalent fraction.*

*But, 0.3 (3/10) does not have an exact representation:*

In [ ]:
Fraction(3, 10)

*but*

In [ ]:
Fraction(0.3)



---

We will study this in upcoming lessons.

Bur for now, let's just see a quick explanation:

In [ ]:
x = 0.3

In [ ]:
print(x)

Everything looks ok here - why am I saying 0.3 (float) is just an approximation?

Python is trying to format the displayed value for readability - so it rounds the number for a better display format!

We can instead choose to display the value using a certain number of digits:

In [ ]:
format(x, '.5f')

At 5 digits after the decimal, we might still think 0.3 is an exact representation.

But let's display a few more digits:

In [ ]:
format(x, '.15f')



---
**BE CAREFUL!**

*Hmm... 15 digits and still looking good!*

*How about 25 digits...*

In [ ]:
format(x, '.25f')



---

Now we see that `x` is not quite 0.3...

In fact, we can quantify the delta this way:

In [ ]:
delta = Fraction(0.3) - Fraction(3, 10)

Theoretically, delta should be 0, but it's not:

In [ ]:
delta == 0

In [ ]:
delta

`delta` is a very small number, the above fraction...

As a float:

In [ ]:
float(delta)

**Constraining the denominator**

In [ ]:
x = Fraction(math.pi)
print(x)
print(format(float(x), '.25f'))

In [ ]:
y = x.limit_denominator(10)
print(y)
print(format(float(y), '.25f'))

In [ ]:
y = x.limit_denominator(100)
print(y)
print(format(float(y), '.25f'))

In [ ]:
y = x.limit_denominator(500)
print(y)
print(format(float(y), '.25f'))

### 05 - Floats - Internal Representation

The `float` class can be used to represent real numbers.

In [ ]:
help(float)

The `float` class has a single constructor, which can take a number or a string and will attempt to convert it to a float.

In [ ]:
float(10)

In [ ]:
float(3.14)

In [ ]:
float('0.1')



---

**BE CAREFUL**

*However, strings that represent fractions cannot be converted to floats, unlike the Fraction class we saw earlier.*

In [ ]:
float('22/7')

*If you really want to get a float from a string such as `'22/7'`, you could first create a `Fraction`, then create a `float` from that:*

In [ ]:
from fractions import Fraction

In [ ]:
float(Fraction('22/7'))

*Floats do not always have an exact representation:*

In [ ]:
print(0.1)

*Although this looks like `0.1` exactly, we need to reveal more digits after the decimal point to see what's going on:*

In [ ]:
format(0.1, '.25f')

*However, certain numbers can be represented exactly in a binary fraction expansion:*

In [ ]:
format(0.125, '.25f')

*This is because 0.125 is precisely 1/8 or 1/(2^3)*



---

### 06 - Floats - Equality Testing

Because not all real numbers have an exact `float` representation, equality testing can be tricky.

In [ ]:
x = 0.1 + 0.1 + 0.1
y = 0.3
x == y

This is because `0.1` and `0.3` do not have exact representations:

In [ ]:
print('0.1 --> {0:.25f}'.format(0.1))
print('x --> {0:.25f}'.format(x))
print('y --> {0:.25f}'.format(y))

However, in some (limited) cases where all the numbers involved do have an exact representation, it will work:

In [ ]:
x = 0.125 + 0.125 + 0.125
y = 0.375
x == y

In [ ]:
print('0.125 --> {0:.25f}'.format(0.125))
print('x --> {0:.25f}'.format(x))
print('y --> {0:.25f}'.format(y))

One simple way to get around this is to round to a specific number of digits and then compare.

In [ ]:
x = 0.1 + 0.1 + 0.1
y = 0.3
round(x, 5) == round(y, 5)

We can also use a more flexible technique implemented by the `isclose` method in the `math` module.

In [ ]:
from math import isclose

In [ ]:
help(isclose)

In [ ]:
x = 0.1 + 0.1 + 0.1
y = 0.3
isclose(x, y)

The `isclose` method takes two optional parameters, `rel_tol` and `abs_tol`.

`rel_tol` is a relative tolerance that will be relative to the magnitude of the largest of the two numbers being compared. Useful when we want to see if two numbers are close to each other as a percentage of their magnitudes.

`abs_tol` is an absolute tolerance that is independent of the magnitunde of the numbers we are compairing - this is useful for numbers that are close to zero.

In this situation we might consider x and y to be close to each other:

In [ ]:
x = 123456789.01
y = 123456780.02

but not in this case:

In [ ]:
x = 0.01
y = 0.02

In both these cases the difference between the two numbers was `0.01`, yet in one case we considered the numvers "equal" and in the other, not "equal". Realtive tomerances are useful to handle thse scenarios.

In [ ]:
isclose(123456789.01, 123456789.02, rel_tol=0.01)

In [ ]:
isclose(0.01, 0.02, rel_tol=0.01)

On the other hand, we have to be careful with relative tolerances when working with values that are close to zero:

In [ ]:
x = 0.0000001
y = 0.0000002
isclose(x, y, rel_tol=0.01)

So, we could use an absolute tolerance here:

In [ ]:
isclose(x, y, abs_tol=0.0001, rel_tol=0)

In general, we can combine the use of both relative and absolute tolerances in this way:

In [ ]:
x = 0.0000001
y = 0.0000002

a = 123456789.01
b = 123456789.02

print('x = y:', isclose(x, y, abs_tol=0.0001, rel_tol=0.01))
print('a = b:', isclose(a, b, abs_tol=0.0001, rel_tol=0.01))

### 07 - Floats - Coercing to Integers

**Truncation**

In [ ]:
from math import trunc

In [ ]:
trunc(10.3), trunc(10.5), trunc(10.6)

In [ ]:
trunc(-10.6), trunc(-10.5), trunc(-10.3)

The `ìnt` constructor uses truncation when a float is passed in:

In [ ]:
int(10.3), int(10.5), int(10.6)

In [ ]:
int(-10.5), int(-10.5), int(-10.4)

**Floor**

In [ ]:
from math import floor

In [ ]:
floor(10.4), floor(10.5), floor(10.6)

In [ ]:
floor(-10.4), floor(-10.5), floor(-10.6)

**Ceiling**

In [ ]:
from math import ceil

In [ ]:
ceil(10.4), ceil(10.5), ceil(10.6)

In [ ]:
ceil(-10.4), ceil(-10.5), ceil(-10.6)

### 08 - Floats - Rounding

In [ ]:
help(round)

**n = 0**

In [ ]:
a = round(1.5)
a, type(a)

In [ ]:
a = round(1.5, 0)
a, type(a)

**n > 0**

In [ ]:
round(1.8888, 3), round(1.8888, 2), round(1.8888, 1), round(1.8888, 0)

**n < 0**

In [ ]:
round(888.88, 1), round(888.88, 0), \
round(888.88, -1), round(888.88, -2), \
round(888.88, -3)

**Ties**

In [ ]:
round(1.25, 1)

In [ ]:
round(1.35, 1)

This is rounding to nearest, with ties to nearest number with even least significant digit, ake Banker's Rounding.

Works similarly with n negative.

In [ ]:
round(15, -1)

In [ ]:
round(25, -1)



---

**BE CAREFUL!**

**Rounding to closest, ties away from zero**

*This is traditionally the type of rounding taught in school, which is different from the Banker's Rounding implemented in Python (and in many other programming languages)*

*This is rounding to nearest even number.*

1.5 --> 2

2.5 --> 3

-1.5 --> -2
-2.5 --> -3



---

To do this thepe of rounding (to nearest 1) we can add (for positive numbers) or subtract (for negative numbers) 0.5 and then truncate the resulting number.

In [ ]:
def _round(x):
    from math import copysign
    return int(x + 0.5 * copysign(1, x))

In [ ]:
round(1.5), _round(1.5)

In [ ]:
round(2.5), _round(2.5)

### 09 - Decimals

In [ ]:
import decimal

In [ ]:
from decimal import Decimal

Decimals have context, that can be used to specify rounding and precision (amongst other things)

Contexts can be local (temporary contexts) or global (default)

**Global Context**

In [ ]:
g_ctx = decimal.getcontext()

In [ ]:
g_ctx.prec

In [ ]:
g_ctx.prec = 6

In [ ]:
g_ctx.rounding = decimal.ROUND_HALF_UP

And if we read this back directly from the global context:

In [ ]:
decimal.getcontext().prec

In [ ]:
decimal.getcontext().rounding

we see that the global context was indeed changed.

**Local Context**

The `localcontext()` function will return a context manager thar we can use with a `with` statement:

In [ ]:
with decimal.localcontext() as ctx:
    print(ctx.prec)
    print(ctx.rounding)

Since no argument was specified in the `localcontext()` call, it provides us a context manager that uses a copy of the global context.

Modifying the local context has no effect on the global context.

In [ ]:
with decimal.localcontext() as ctx:
    ctx.prec = 10
    print('local prec = {0}, global prec = {1}'.format(ctx.prec, g_ctx.prec))

**Rounding**

In [ ]:
decimal.getcontext().rounding

The rounding mechanism is ROUND_HALF_UP because we set the global context to that earlier in this notebook. Note that normally the default is ROUND_HALF_EVEN.

So we first reset our global context rounding to that:

In [ ]:
decimal.getcontext().rounding = decimal.ROUND_HALF_EVEN

In [ ]:
x = Decimal('1.25')
y = Decimal('1.35')
print(round(x, 1))
print(round(y, 1))

Let's change the rounding mechanism in the global context to ROUND_HALF_UP

In [ ]:
decimal.getcontext().rounding = decimal.ROUND_HALF_UP

In [ ]:
x = Decimal('1.25')
y = Decimal('1.35')
print(round(x, 1))
print(round(y, 1))

As you may have realized, changing the global context is a pain if you need to constantly switch between precisions and rounding algorithms. Also, it could introduce bugs if you forget that you changed the global context somewhere further up in your module.

For this reason, it is usually better to use a local context manager instead:

First we reset our global context rounding to the default:

In [ ]:
decimal.getcontext().rounding = decimal.ROUND_HALF_EVEN

In [ ]:
from string import ascii_letters
x = Decimal('1.25')
y = Decimal('1.35')
print(round(x, 1), round(y, 1))
with decimal.localcontext() as ctx:
    ctx.rounding = decimal.ROUND_HALF_UP
    print(round(x, 1), round(y, 1))
print(round(x, 1), round(y, 1))

### 10 - Decimals - Constructors and Contexts

The `Decimal` constructor can handle a variety of data types.

In [ ]:
import decimal
from decimal import Decimal

**Integers**

In [ ]:
Decimal(10)

In [ ]:
Decimal(-10)

**Strings**

In [ ]:
Decimal('0.1')

In [ ]:
Decimal('-3.1415')

**Tuples**

In [ ]:
Decimal((0, (3,1,4,1,4), -4))

In [ ]:
Decimal((1, (1,2,3,4), -3))

In [ ]:
Decimal((0, (1,2,3), 3))



---

**BE CAREFUL!**

*Tuple components are sign=0, digits=(3,1,4,1,4), exponent=-4 but we don't use parameters with this key=value format.*

`Decimal((0, (3,1,4,1,4), -4))`



---

**BE CAREFUL!**

**But don't use Floats**

In [ ]:
format(0.1, '.25f')

In [ ]:
Decimal(0.1)

As you can see, since we passed an approximate binary float to the Decimal constructor it did it's best to represent that binary float exactly!!

So, instead, use strings or tuples in the Decimal constructor.

**Context Precision and the Constructor**

The context precision does not affect the precision used when creating a Decimal object - those are independent of each other.

Let's set our global (default) context to a precision of 2

In [ ]:
decimal.getcontext().prec = 2

Now we can create decimal numbers of higher precision than that:

In [ ]:
a = Decimal('0.12345')
b = Decimal('0.12345')

In [ ]:
a

In [ ]:
b

But when we add those two numbers up, the context precision will matter:

In [ ]:
decimal.getcontext().prec = 2
a + b

As you can see, we ended up with a sum that was rounded to 2 digits after the decimal point (precision = 2)

**Local and Global Contexts are Independent**

In [ ]:
decimal.getcontext().prec = 6

In [ ]:
decimal.getcontext().rounding

In [ ]:
a = Decimal('0.12345')
b = Decimal('0.12345')
print(a + b)
with decimal.localcontext() as ctx:
    ctx.prec = 2
    c = a + b
    print('c within local context: {0}'.format(c))
print('c within global context: {0}'.format(c))

Since c was created within the local context by adding a and b, and the local context had a precision of 2, c was rounded to 2 digits after the decimal point.

Once the local context is destroyed (after the with block), the variable c still exists, and its precision is still just 2 - it doesn't magically suddenly get the global context's precision of 6.

### 11 - Decimals - Math Operations

**Div and Mod**

The `//` and `%` operators (and consequently, the `divmod()` function) behave differently for integers and Decimals.

Thi is because integer division for Decimals is performed differently, and results in a truncated division, whereas integers use a floored division.

These differences are only when negative number are involved. If all numbers involved are positive, then integer and Decimal div and mod operations are equal.

But in both cases the `//` and `%` operators satisfy the equation:

`n = d * (n //d ) + (n % d)`

In [ ]:
import decimal
from decimal import Decimal

In [ ]:
x = 10
y = 3
print(x//y, x%y)
print(divmod(x, y))
print( x ==  y * (x//y) + x % y)

In [ ]:
a = Decimal('10')
b = Decimal('3')
print(a//b, a%b)
print(divmod(a,b))
print( a == b * (a//b) + a % b)

As we can see, the `//` and `%` operators had the same result when both numbers were positive.

In [ ]:
x = -10
y = 3
print(x//y, x%y)
print(divmod(x, y))
print( x == y * (x//y) + x % y)

In [ ]:
a = Decimal('-10')
b = Decimal('3')
print(a//b, a%b)
print(divmod(a, b))
print( a == b * (a//b) + a % b)

On the other hand, we see that in this case the `//` and `% ` operators did not result in the same values, although the equation was satisfied in both instances.

**Other Mathematical Functions**

The Decimal class implements a variety of mathematical functions.

In [ ]:
a = Decimal('1.5')
print(a.log10()) # base 10 logarithm
print(a.ln())    # natural logarithm (base e)
print(a.exp())   # e ** a
print(a.sqrt())  # square root

Although you can use the math function of the math module, be aware that the math module functions will cast the Decimal numbers to floats when it performs the various operations. So, if the precision is important (which it probably is if you decided to use Decimal numbers in the first place), choouse the math functions of the Decimal class over those of the math module.

In [ ]:
x = 2
x_dec = Decimal(2)

In [ ]:
import math

In [ ]:
root_float = math.sqrt(x)
root_mixed = math.sqrt(x_dec)
root_dec = x_dec.sqrt()

In [ ]:
print(format(root_float, '1.27f'))
print(format(root_mixed, '1.27f'))
print(root_dec)

In [ ]:
print(format(root_float * root_float, '1.27f'))
print(format(root_mixed * root_mixed, '1.27f'))
print(root_dec * root_dec)

In [ ]:
x = 0.01
x_dec = Decimal('0.01')

root_float = math.sqrt(x)
root_mixed = math.sqrt(x_dec)
root_dec = x_dec.sqrt()

print(format(root_float, '1.27f'))
print(format(root_mixed, '1.27f'))
print(root_dec)

In [ ]:
print(format(root_float * root_float, '1.27f'))
print(format(root_mixed * root_mixed, '1.27f'))
print(root_dec * root_dec)

### 12 - Decimals - Performance Considerations

**Memory Footprint**

Decimals take up a lot more memory than floats.

In [ ]:
import sys
from decimal import Decimal

In [ ]:
a = 3.1415
b = Decimal('3.1415')

In [ ]:
sys.getsizeof(a)

24 bytes are used to store the gloat 3.1415

In [ ]:
sys.getsizeof(b)

104 bytes are used to store the Decimal 3.1415

**Computational Performance**

Decimal arithmetic is also much slower than float arithmetic (on a CPUi an even more so if using a GPU)

We can do some rough timings to illustrate this.

First we look at the performance difference creating floats vs decimals:

In [ ]:
import time
from decimal import Decimal

def run_float(n=1):
    for i in range(n):
        a = 3.1415

def run_decimal(n=1):
    for i in range(n):
        a = Decimal('3.1415')

Timing float and Decimal operations:

In [ ]:
n = 10000000

In [ ]:
start = time.perf_counter()
run_float(n)
end = time.perf_counter()
print('float: ', end-start)

start = time.perf_counter()
run_decimal(n)
end = time.perf_counter()
print('decimal: ', end-start)

We make a slight variant here to see how addition compares between the two types:

In [ ]:
def run_float(n=1):
    a = 3.1415
    for i in range(n):
        a + a
    
def run_decimal(n=1):
    a = Decimal('3.1415')
    for i in range(n):
        a + a

start = time.perf_counter()
run_float(n)
end = time.perf_counter()
print('float: ', end-start)

start = time.perf_counter()
run_decimal(n)
end = time.perf_counter()
print('decimal: ', end-start)

How about square roots:

(We drop the n count a bit)

In [ ]:
n = 5000000

import math

def run_float(n=1):
    a = 3.1415
    for i in range(n):
        math.sqrt(a)
        
def run_decimal(n=1):
    a = Decimal('3.1415')
    for i in range(n):
        a.sqrt()
        
start = time.perf_counter()
run_float(n)
end = time.perf_counter()
print('float: ', end-start)

start = time.perf_counter()
run_decimal(n)
end = time.perf_counter()
print('decimal: ', end-start)

### 13 - Complex Numbers

Python's built-in class provides support for complex numbers.

Complex numbers are defined in rectangular coordinates (real and imaginary parts) using either the constructor or a literal expression.

The complex number `1 + 2j` can be defined in either of these ways:

In [ ]:
a = complex(1, 2)
b = 1 + 2j

In [ ]:
a == b

Note that the real and imaginary parts are defined as floats, and can be retrieved as follows:

In [ ]:
a.real, type(a.real)

In [ ]:
a.imag, type(a.imag)

The complex conjugate can be calculated as follows:

In [ ]:
a.conjugate()

The standard arithmetic operators are polymorphic and defined for complex numbers.

In [ ]:
a = 1 + 2j
b = 3 - 4j
c = 5j
d = 10

In [ ]:
a + b

In [ ]:
b * c

In [ ]:
c / d

In [ ]:
d - a

The `//` and `%` operators, although also polymorphic, are not defined for complex numbers:

In [ ]:
a // b

In [ ]:
a % b

The `==` and `!=` operators support complex numbers - but since the real and imaginary parts of complex numbers are floats, the same problems comparing floats using `==` and `!=` also apply to complex numbers.

In [ ]:
a = 0.1j

In [ ]:
a + a + a == 0.3j

In addition, the standard comparison operators `(<, <=, >, >=)` are not defined for complex numbers.

In [ ]:
a = 1 + 1j
b = 100 + 100j
a < b

**Math Functions**

The `cmath` module provides complex alternatives to the standard `math` functions.

In addition, the `cmath` module provides the complex implementation of the `isclose()` method available for floats.

In [ ]:
import cmath

a = 1 + 5j
print(cmath.sqrt(a))

The standard `math` module functions will not work with complex numbers:

In [ ]:
import math
print(math.sqrt(a))

**Polar / Rectangular Conversions**

The `cmath.phase()` function can be used to return the phase (or argument) of any complex number.

The standard `abs()` function supports complex numbers and will return the magnitude (euclidean norm) of the complex number.

In [ ]:
a = 1 + 1j

In [ ]:
r = abs(a)
phi = cmath.phase(a)
print('{0} = ({1},{2})'.format(a, r, phi))

Complex numbers in polar coordinates can be converted to rectangular coordinates using the `math.rect()` function:

In [ ]:
r = math.sqrt(2)
phi = cmath.pi/4
print(cmath.rect(r, phi))

**Euler's Identity and the isclose() function**

`e^i*pi + 1 = 0`

In [ ]:
RHS = cmath.exp(cmath.pi * 1j) + 1
print(RHS)

Which, because of limited precision is not quite zero.

However, the result is very close to zero.

We can use the `isclose()` method of the `cmath` module, which behaves similarly to the `math.isclose()` method. Since we are testing for closeness of two numbers close to zero, we need to make sure an absolute tolerance is also specified:

In [ ]:
cmath.isclose(RHS, 0, abs_tol=0.00001)

If we had not specified an absolute tolerance:

In [ ]:
cmath.isclose(RHS, 0)

### 14 - Booleans

The `bool` class is used to represent boolean values.

The `bool` class inherits from the `int` class.

In [ ]:
issubclass(bool, int)

Two built-in constants, `True` and `False` are singleton instances of the bool class with underlying int varues of 1 and 0 respectively.

In [ ]:
type(True), id(True), int(True)

In [ ]:
type(False), id(False), int(False)

These two values are instances of the `bool` class, and by inheritance are also `int` objects.

In [ ]:
isinstance(True, bool)

In [ ]:
isinstance(True, int)

Since `True` and `False` are singletons, we can use either the `is` operator, or the `==` operator to compare them to any boolean expression.

In [ ]:
id(True), id(1 < 2)

In [ ]:
id(False), id(1 == 3)

In [ ]:
(1 < 2) is True, (1 < 2) == True

In [ ]:
(1 == 2) is False, (1 == 2) == False



---
**BE CAREFUL!**

*Be careful with that last comparsion, the parentheses are necessary!*

In [ ]:
1 == 2 == False

In [ ]:
(1 == 2) == False

*We'll look into this in detail later, but, for now, this happens because a chained comparison such as `a == b == c` is actually evaluated as `a == b and b == c`*

*So `1 == 2 == False` is the same as `1 == 2 and 2 == False`*

In [ ]:
1 == 2, 2 == False, 1==2 and 2==False

*But,*

In [ ]:
(1 == 2)

*So ``(1 == 2) == False` evaluates to True*

*But since `False` is also `0`, we get the following:*

In [ ]:
(1 == 2) == 0



---

The underlying integer values of True and False are:

In [ ]:
int(True), int(False)

So, using an equality comparison:

In [ ]:
1 == True, 0 == False

But, from an object perspective 1 and True are not the same (similarly with 0 and False)

In [ ]:
1 == True, 1 is True

In [ ]:
0 == False, 0 is False

Any integer can be cast to a boolean, and follows the rule:

bool(x) = True for any x except for zero which returns False

In [ ]:
bool(0)

In [ ]:
bool(1), bool(100), bool(-1)

Since booleans are subclassed from integers, they can behave like integers, and because of polymorphism all the standard integer operators, properties and methods apply.

In [ ]:
True > False

In [ ]:
True + 2

In [ ]:
False // 2

In [ ]:
True + True + True

In [ ]:
(True + True + True) % 2

In [ ]:
-True

In [ ]:
100 * False

I certainly do not recommend you write code like that shown above, but aware that it does work.

### 15 - Booleans - Truth Values

All objects in Python have an associated `truth value`, or `truthyness`

We saw in a previous lecture that integers have an inherent truth value:

In [ ]:
bool(0)

In [ ]:
bool(1), bool(-1), bool(100)

This truthyness has nothing to do with the fact that `bool` is a subclass of `int`.

Instead, it has to do with the fact that the `int` class implements a `__bool__()` method:

In [ ]:
help(bool)

If you scroll down in the documentation you should reach a section that looks like this:

`| __bool__(self, /)`

`|    self != 0`

So, when we write:

In [ ]:
bool(100)

In [ ]:
(100).__bool__()

In [ ]:
(0).__bool__()

Most objects will implement either the `__bool__()` or `__len__()` methods. If they don't, then their associated value will be `True` always.

**Numeric Types**

Any non-zero numeric value is truthy. Any zero numeric value is falsy:

In [ ]:
from fractions import Fraction
from decimal import Decimal
bool(10), bool(1.5), bool(Fraction(3, 4)), bool(Decimal('10.5'))

In [ ]:
bool(0), bool(0.0), bool(Fraction(0,1)), bool(Decimal('0')), bool(0j)

**Sequence Types**

An empty sequence type object is Falsy, a non-empty one is truthy:

In [ ]:
bool([1, 2, 3]), bool((1, 2, 3)), bool('abc'), bool(1j)

In [ ]:
bool([]), bool(()), bool('')

**Mapping Types**

Similarly, an empty mapping type will be falsy, a non-empty one truthy:

In [ ]:
bool({'a': 1}), bool({1, 2, 3})

In [ ]:
bool({}), bool(set())

**The None Object**

The Singleton `None` object is always falsy:

In [ ]:
bool(None)

**One Application of Truth Values**

Any conditional expression which involves objects other than `bool` types, will use the associated truth value as the result of the conditional expression.

In [ ]:
a = [1, 2, 3]
if a:
    print(a[0])
else:
    print('a is None, or a is empty')

In [ ]:
a = []
if a:
    print(a[0])
else:
    print('a is None, or a is empty')

In [ ]:
a = 'abc'
if a:
    print(a[0])
else:
    print('a is None, or a is empty')

In [ ]:
a = ''
if a:
    print(a[0])
else:
    print('a is None, or a is empty')

We could write this using a more lengthy expression:

In [ ]:
a = 'abc'
if a is not None and len(a) > 0:
    print(a[0])
else:
    print('a is None, or a is empty')

Doing the following would break our code in some instances:

In [ ]:
a = 'abc'
if a is not None:
    print(a[0])

works, but:

In [ ]:
a = ''
if a is not None:
    print(a[0])

In [ ]:
a = None
if len(a) > 0:
    print(a[0])

to be through we would need to write:

In [ ]:
a = None
if a is not None and len(a) > 0:
    print(a[0])

Also, the order of the boolean expressions matter here!

We'll discuss this and short-circuit evaluations.

For example:

In [ ]:
a = None
if len(a) > 0 and a is not None:
    print(a[0])

### 16 - Booleans - Precedence and Short-Circuiting

In [ ]:
True or True and False

this is equivalent, becaouse of `and` having higher precedence than `or`, to:

In [ ]:
True or (True and False)

This is not the same as:

In [ ]:
(True or True) and False

**Short-Circuiting**

In [ ]:
a = 100
b = 0

if a/b > 2:
    print('a is at least double b')

In [ ]:
a = 10
b = 0
if b and a/b > 2:
    print('a is at least double b')

Can also be useful to deal with null or empty strings in a database:

In [ ]:
import string

In [ ]:
help(string)

In [ ]:
string.digits

In [ ]:
string.ascii_letters

In [ ]:
name = ''
if name[0] in string.digits:
    print('Name cannot start with a digit!')

In [ ]:
name = ''
if name and name[0] in string.digits:
    print('Name cannot start with a digit!')

In [ ]:
name = None
if name and name[0] in string.digits:
    print('Name cannot start with a digit!')

In [ ]:
name = 'Bob'
if name and name[0] in string.digits:
    print('Name cannot start with a digit!')

In [ ]:
name = '1Bob'
if name and name[0] in string.digits:
    print('Name cannot start with a digit!')

### 17 - Booleains: Boolean Operators

The way the Boolean operators `and`, `or` actually work is a little different in Python:

**or**

`X or Y`: if X is falsy, return Y, otherwise evaluates and returns X

In [ ]:
'' or 'abc'

In [ ]:
0 or 100

In [ ]:
[] or [1, 2, 3]

In [ ]:
[1, 2] or [1, 2, 3]



---

**BE CAREFUL!**

*You should note that the truth value of `Y` is never even considered when evaluating the `or` result.*

*Only the left operand matters.*

*Of course, Y will be evaluated if it is being returned - bur its truth value does not affect how the `or` is being calculated.*

*You probably will notice that this means `Y` is not evaluated if `X` is returned - short-circuiting!!*

*We could(almost!) write the `or` operator ourselves in this way:*



---

In [ ]:
def _or(x, y):
    if x:
        return x
    else:
        return y

In [ ]:
print(_or(0, 100) == (0 or 100))
print(_or(None, 'n/a') == (None or 'n/a'))
print(_or('abc', 'n/a') == ('abc' or 'n/a'))

Why did I say almost?

Unlike the `or` operator, our `_or` function will always evaluate x and y (they are passed as arguments) - so we do not have short-circuiting!

In [ ]:
1 or 1/0

In [ ]:
_or(1, 1/0)

**and**

`X and Y`: If X is falsy, returns X, otherwise evaluates and returns Y

Once again, note that the truth value of Y is never considered when evaluating `and`, and the `Y` is only evaluated if it needs to be returned (short-circuiting)

In [ ]:
s1 = None
s2 = ''
s3 = 'abc'

In [ ]:
print(s1 and s1[0])
print(s2 and s2[0])
print(s3 and s3[0])

In [ ]:
print((s1 and s1[0]) or '')
print((s2 and s2[0]) or '')
print((s3 and s3[0]) or '')

This technique will also work to return any default value if `s` is an empty string or None:

In [ ]:
print((s1 and s1[0]) or 'n/a')
print((s2 and s2[0]) or 'n/a')
print((s3 and s3[0]) or 'n/a')

The `not` function

In [ ]:
not 'abc'

In [ ]:
not []

In [ ]:
bool(None)

In [ ]:
not None

### 18 - Comparison Operators

**Identity and Membersgip Operators**

The `is` and `is not` operators will work with any data type since they are comparing the memory addresses of the objects (which are integers)

In [ ]:
0.1 is (3+4j)

In [ ]:
'a' is [1, 2, 3]

The `in` and `not in` operators are used with iterables and test membership:

In [ ]:
1 in [1, 2, 3]

In [ ]:
[1, 2] in [1, 2, 3]

In [ ]:
[1, 2] in [[1,2], [2,3], 'abc']

In [ ]:
'key1' in {'key1': 1, 'key2': 2}

In [ ]:
1 in {'key1': 1, 'key2': 2}

We'll come back to these operators in later sections on iterables and mappings.

**Equality Operators**

The `==` and `!=` operators are value comparision operators.

They will work with mixed types that are comparable in some sense.

For example, you can compare Fraction and Decimal objects, but it would not make sense to compare string and integer objects

In [ ]:
1 == '1'

In [ ]:
from decimal import Decimal
from fractions import Fraction

In [ ]:
Decimal('0.1') == Fraction(1, 10)

In [ ]:
1 == 1 + 0j

In [ ]:
True == Fraction(2, 2)

In [ ]:
False == 0j

**Ordering Comparisions**

Many, but not all data types have an ordering defined.

For example, complex numbers do not.

In [ ]:
1 + 1j < 2 + 2j

Mixed type ordering comparisons is supported, but again, it needs to make sense:

In [ ]:
1 < 'a'

In [ ]:
Decimal('0.1') < Fraction(1, 2)

**Chained Comparisons**

It is possible to chain comparisons.

For example, in `a<b<c`, Python simply ands the pairwise comparisions: `a<b and b<c`

In [ ]:
1 < 2 < 3

In [ ]:
1 < 2 > -5 < 50 > 4

In [ ]:
1 < 2 == Decimal('2.0')

In [ ]:
import string
'A' < 'a' < 'z' < 'Z' in string.ascii_letters

## Section 05 - Function Parameters

### 01 - Positional Arguments

In [ ]:
def my_func(a, b, c):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [ ]:
my_func(1, 2, 3)

**Default Values**

In [ ]:
def my_func(a, b=2, c):
    print(a, b, c)

In [ ]:
def my_func(a, b=2, c=3):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [ ]:
my_func(10, 20, 30)

In [ ]:
my_func(10, 20)

In [ ]:
my_func(10)

Since `a` does not have a default value, it must be specified:

In [ ]:
my_func()

**Keyword Arguments (named arguments)**

Positional arguments, can optionally, be specified using their corresponding parameter name.

This allows us to pass the arguments without using the positional assignment:

In [ ]:
def my_func(a, b=2, c=3):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [ ]:
my_func(c=30, b=20, a=10)

In [ ]:
my_func(10, c=30, b=20)



---
**BE CAREFUL!**

*Note that once a keyword argument has been used, all arguments thereafter must also be named:*

In [ ]:
my_func(10, b=20, 30)

However, if a parameter has a default value, it an be omitted from the argument list, named or not:

In [ ]:
my_func(10, c=30)

In [ ]:
my_func(a=30, c=10)

In [ ]:
my_func(c=10, a=30)

### 02 - Unpacking Iterables

**Side Note on Tuples**

This is a tuple:

In [ ]:
a = (1, 2, 3)

In [ ]:
type(a)

This is also a tuple:

In [ ]:
a = 1, 2, 3

In [ ]:
type(a)

In fact what defines a tuple is not `()`, but the `,` (comma)

To create a tuple with a single element:

In [ ]:
a = (1)

will not work!!

In [ ]:
type(a)

Instead, we have to use a comma:

In [ ]:
a = (1,)

In [ ]:
type(a)

And in fact, we don't even need the `()`:

In [ ]:
a = 1,

In [ ]:
type(a)

The only exception is to create an empty tuple:

In [ ]:
a = ()

In [ ]:
type(a)

Or we can use the tuple constructor:

In [ ]:
a = tuple()

In [ ]:
type(a)

**Unpacking**

Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
a, b, c, d = l

In [ ]:
print(a, b, c, d)

Strings are iterables too:

In [ ]:
a, b, c = 'XYZ'
print(a, b, c)

**Swapping Two Variables**

Here's a quick application of unpacking to swap ehe values of two variables.

First we look at the "traditional" way you would have to do it in other languages such as Java:

In [ ]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

tmp = a
a = b
b = tmp
print("a={0}, b={1}".format(a, b))

But using unpacking we can simplify this:

In [ ]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [ ]:
a, b = 10, 20
print("a={0}, b={1}".format(a, b))

a,b = b, a
print("a={0}, b={1}".format(a, b))

**Unpacking Unordered Objects**

In [ ]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [ ]:
dict1

In [ ]:
for c in dict1:
    print(c)

In [ ]:
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)



---
**BE CAREFUL!**

*Note that this order is not guaranteed. You can always use an OrderedDict if that is requirement.*

*The same applies to sets.*

In [ ]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [ ]:
type(s)

In [ ]:
print(s)

In [ ]:
for c in s:
    print(c)

In [ ]:
a, b, c, d, e, f = s

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

### 03 - Extended Unpacking

Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [ ]:
l = [1, 2, 3, 4, 5, 6]

In [ ]:
a = l[0]
b = l[1:]
print(a)
print(b)

We can even use unpacking to simplify this slightly:

In [ ]:
a, *b = l
print(a)
print(b)



---

**BE CAREFUL!**

Note that the `*` operator can only appear once in left hand side!

*On the other hand, Right hand side it is OK to use.*



---

Like standard unpacking, this extended unpacking will work with any iterable.

With tuples:

In [ ]:
a, *b = -10, 5, 2, 100
print(a)
print(b)

With strings:

In [ ]:
a, *b = 'python'
print(a)
print(b)

What about extracting the first, second, last elements and the rest.

Again we can use slicing:

In [ ]:
s = 'python'

a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

But we can just as easily do it this way using unpacking:

In [ ]:
a, b, *c, d = s
print(a)
print(b)
print(c)
print(d)

As you can see though, `c` is a list of characters, nor a string.

It that's a problem we can easily fix it this way:

In [ ]:
print(c)
c = ''.join(c)
print(c)

We can also use unpacking on the right hand side of an assignment expression:

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1, *l2]
print(l)

In [ ]:
l1 = [1, 2, 3]
s = 'ABC'
l = [*l1, *s]
print(l)

This unpacking works with unordered types such as sets and dictionaries as well.

The only thing is that it may not be very useful considering there is no particular ordering, so a first or last element has no real useful meaning.

In [ ]:
s = {10, -99, 3, 'd'}

In [ ]:
for c in s:
    print(c)

As you can see, the order of the elements when we created the set was not retained!

In [ ]:
s = {10, -99, 3, 'd'}
a, b, *c = s
print(a)
print(b)
print(c)

So unpacking this way is of limited use.

However consider this:

In [ ]:
s = {10, -99, 3, 'd'}
*a, = s
print(a)

At first blush, this doesn't look terribly exciting - we simply unpacked the set values into a list.

But tihs is actually quite useful in both sets and dictionaries to combine things (although to be sure, there are alternative ways to do this as well - which we'll cover later in this course)

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

How can we combine both these sets into a single merged set?

In [ ]:
s1 + s2

Well, + doesn't work...

We could use the built-in method for unioning sets:

In [ ]:
help(set)

In [ ]:
print(s1)
print(s2)
s1.union(s2)

What about joining 4 different sets?

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
print(s1.union(s2).union(s3).union(s4))
print(s1.union(s2, s3, s4))

Or we could use unpacking in this way:

In [ ]:
{*s1, *s2, *s3, *s4}

What we did here was to unpack each set directly into another set!

The same works for dictionaries - just remember that `*` for dictionaries unpacks the keys only.

In [ ]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}

{**d1, **d2}

Notice what happened to the value of key2. The value for the second occurence of key2 was retained (overwritten).

In fact, if we write the unpacking reversing the order of d1 and d2:

In [ ]:
{**d2, **d1}

we see that the value of key2 is now 2, since it was the second occurence.

Of course, we can unpack a dictionary into a dictionary as seen above, but we can mix in our own key-value pairs as well - it is just a dictionary literal after all.

In [ ]:
{'a': 1, 'b': 2, **d1, **d2, 'c': 3}

Again, if we have the same keys, only the "latest" value of the key is retained:

In [ ]:
{'key1': 100, **d1, **d2, 'key3': 200}

**Nested Unpacking**

Python even supports nested unpacking:

In [ ]:
a, b, (c, d) = [1, 2, ['X', 'Y']]
print(a)
print(b)
print(c)
print(d)

In fact, since a string is an iterable, we can even write:

In [ ]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

We can even write something like this:

In [ ]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

Remember when we said that we can use `*` only once...

How abour this then=

In [ ]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

We can break down what happened here in multiple steps:

In [ ]:
a, *b, tmp = [1, 2, 3, 'python']
print(a)
print(b)
print(tmp)

In [ ]:
c, d, *e = tmp
print(c)
print(d)
print(e)

So putting it together we get our original line of code:

In [ ]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

If we wanted to do the same thing using slicing:

In [ ]:
l = [1, 2, 3, 'python']
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

In [ ]:
l = [1, 2, 3, 'python']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

Of course, this works for arbitrary lengths and indexable sequence types:

In [ ]:
l = [1, 2, 3, 4, 'unladen swallow']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

or even:

In [ ]:
l = [1, 2, 3, 4, ['a', 'b', 'c', 'd']]
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

### 04 - Star - Args

**args**

Recall from iterable unpacking:

In [ ]:
a, b, *c = 10, 20, 'a', 'b'

In [ ]:
print(a, b)

In [ ]:
print(c)

We can use a similar concept in function definitions to allow for arbitrary numbers of positional parameters/arguments:

In [ ]:
def func1(a, b, *args):
    print(a)
    print(b)
    print(args)

In [ ]:
func1(1, 2, 'a', 'b')



---

**BE CAREFUL!**

*A few things to note:*

1. Unlike iterable unpacking, `*args` will be a `tuple`, not a list.
2. The name of the parameter `args` can be anything you prefer.
3. You cannot specify positional arguments after `*args` parameter - this does something different that we'll cover in the next lecture.

In [ ]:
def func1(a, b, *my_vars):
    print(a)
    print(b)
    print(my_vars)

In [ ]:
func1(10, 20, 'a', 'b', 'c')

In [ ]:
def func1(a, b, *c, d):
    print(a)
    print(b)
    print(c)
    print(d)

In [ ]:
func1(10, 20, 'a', 'b', 100)

TypeError: ignored



---

Let's see how we might use this to calculate the average of an arbitrary number of parameters.

In [ ]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return total/count

In [ ]:
avg(2, 2, 4, 4)

3.0

But watch what happens here:

In [ ]:
avg()

ZeroDivisionError: ignored

The problem is that we passed zero arguments.

We can fix this in one of two ways:

In [ ]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total/count

In [ ]:
avg(2, 2, 4, 4)

3.0

In [ ]:
avg()

0

But we may now want to allow specfying zero arguments, in which case we can split our parameters into a required (non-defaulted) positional argument, and the rest:

In [ ]:
def avg(a, *args):
    count = len(args) + 1
    total = a + sum(args)
    return total/count

In [ ]:
avg(2, 2, 4, 4)

3.0

In [ ]:
avg()

TypeError: ignored

As you can see, an exception occurs if we do not specify at least one argument.

**Unpacking an iterable into positional arguments**

In [ ]:
def func1(a, b, c):
    print(a)
    print(b)
    print(c)

In [ ]:
l = [10, 20, 30]

This will not work:

In [ ]:
func1(l)

TypeError: ignored

The function expects three positional arguments, but we only supplied a single one (albeit a list).

But we could unpack the list, and then pass it to as the function arguments:

In [ ]:
*l,

(10, 20, 30)

In [ ]:
func1(*l)

10
20
30

What about mixing positional and keyword arguments with this?

In [ ]:
def func1(a, b, c, *d):
    print(a)
    print(b)
    print(c)
    print(d)

In [ ]:
func1(10, c=20, b=10, 'a', 'b')

SyntaxError: ignored

Recall that once a keyword argument is used in a function call, we cannot use positional arguments after that.

However, in the next lecture we'll look at how to address this issue.

### 05 - Keyword Arguments

Recall: positional parameters defined in functions can also be passed as named (keyword) arguments.

In [ ]:
def func1(a, b, c):
    print(a, b, c)

In [ ]:
func1(10, 20, 30)

10 20 30

In [ ]:
func1(b=20, c=30, a=10)

10 20 30

In [ ]:
func1(10, c=30, b=20)

10 20 30

Using a named argument is optional and up to the caller.

What if we wanted to force calls to our function to use named arguments?

We can do so by exhausting all the positional arguments, and then adding some additional parameters in the function definition:

In [ ]:
def func1(a, b, *args, d):
    print(a, b, args, d)

Now we will need at least two positional arguments, an optional (possibly even zero) number of additional arguments, and this extra argument which is supposed to go into `d`. This argument can only be passed to the function using a named (keyword) argument:

So, this will not work:

In [ ]:
func1(10, 20, 'a', 'b', 100)

TypeError: ignored

But this will:

In [ ]:
func1(10, 20, 'a', 'b', d=100)

10 20 ('a', 'b') 100

As you can see, `d` took the keyword argument, while the remaining arguments were handled as positional parameters.

We can even define a function that has only optional positional and mandatory keyword arguments:

In [ ]:
def func1(*args, d):
    print(args)
    print(d)

In [ ]:
func1(1, 2, 3, d='hello')

(1, 2, 3)
hello

We can of course, not pass any positional arguments:

In [ ]:
func1(d='hello')

()
hello

but the positional argument is mandatory (since no default was provided in the function definition):

In [ ]:
func1()

TypeError: ignored

To make the keyword argument optional, we just need to specify a default value in the function definition:

In [ ]:
def func1(*args, d='n/a'):
    print(args)
    print(d)

In [ ]:
func1(1, 2, 3)

(1, 2, 3)
n/a

In [ ]:
func1()

()
n/a

Sometimes we want only keyword arguments, in which case we still have to exhaust the positional arguments first - but we can use the following syntax if we do not want any positional parameters passed in:

In [ ]:
def func1(*, d='hello'):
    print(d)

In [ ]:
func1(10, d='bye')

TypeError: ignored

In [ ]:
func1(d='bye')

bye

Of course, if we do not provide a default value for the keyword argument, then we effectively are forcing the caller to provide the keyword argument:

In [ ]:
def func1(*, a, b):
    print(a)
    print(b)

In [ ]:
func1(a=10, b=20)

10
20

but, the following would not work:

In [ ]:
func1(10, 20)

TypeError: ignored

Unlike positional parameters, keyword arguments do not have to be defined with non-defaulted and then defaulted arguments:

In [ ]:
def func1(a, *, b='hello', c):
    print(a, b, c)

In [ ]:
func1(5, c='bye')

5 hello bye

We can also include positional non-defaulted (first), positional defaulted (after positional non-defaulted) folowed lastly (after exhausting positional arguments) by keyword args (defaulted or non-defaulted in any order)

In [ ]:
def func1(a, b=20, *args, d=0, e='n/a'):
    print(a, b, args, d, e)

In [ ]:
func1(5, 4, 3, 2, 1, d=0, e='all engines running')

5 4 (3, 2, 1) 0 all engines running

In [ ]:
func1(0, 600, d='gooood morning', e='python!')

0 600 () gooood morning python!

In [ ]:
func1(11, 'm/s', 24, 'mph', d='unladen', e='swallow')

11 m/s (24, 'mph') unladen swallow

As you can see, defining parameters and passing arguments is exteremly flexible in Python! Even more so, when you account for the fact that the parameters are not statically typed!

### 06 - Kwargs

In [ ]:
def func(**kwargs):
    print(kwargs)

In [ ]:
func(x=100, y=200)

{'x': 100, 'y': 200}

We can also use it in conjunction with *args:

In [ ]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [ ]:
func(1, 2, a=100, b=200)

(1, 2)
{'a': 100, 'b': 200}



---

**BE CAREFUL!**

*Note: You cannot do the following:*

In [ ]:
def func(*, **kwargs):
    print(kwargs)

SyntaxError: ignored



---

Also, you cannot specify parameters after `**kwargs` has been used:

In [ ]:
def func(a, b, **kwargs, c):
    pass

SyntaxError: ignored

If you want to specify both specific keyword-only arguments and `**kwargs`, you will need to first get to a point where you can define a keyword-only argument (i.e. exhaust the positional arguments, using either `*args` or just `*`)

In [ ]:
def func(*, d, **kwargs):
    print(d)
    print(kwargs)

In [ ]:
func(d=1, x=100, y=200)

1
{'x': 100, 'y': 200}

### 07 - Putting it all Together

Positionals Only: no extra positionals, no defaults (all positionals required)

In [ ]:
def func(a, b):
    print(a, b)

In [ ]:
func('hello', 'world')

hello world

In [ ]:
func(b='world', a='hello')

hello world

Positionals Only: no extra positionals, defaults (some positionals optional)

In [ ]:
def func(a, b='world', c=10):
    print(a, b, c)

In [ ]:
func('hello')

hello world 10

In [ ]:
func('hello', c='!')

hello world !

Positionals Only: extra positionals, no defaults (all positionals required)

In [ ]:
def func(a, b, *args):
    print(a, b, args)

In [ ]:
func(1, 2, 'x', 'y', 'z')

1 2 ('x', 'y', 'z')



---
**BE CAREFUL!**

*Note that we cannot call the function this way:*

In [ ]:
func(b=2, a=1, 'x', 'y', 'z')

SyntaxError: ignored

Keywords Only: no positionals, no defaults (all keyword args required)

In [ ]:
def func(*, a, b):
    print(a, b)

In [ ]:
func(a=1, b=2)

1 2

Keywords Only: no positionals, some defaults (not all keyword args required)

In [ ]:
def func(*, a=1, b):
    print(a, b)

In [ ]:
func(a=10, b=20)

10 20

In [ ]:
func(b=2)

1 2

Keywords and Positionals: some positionals (no defaults), keywords (no defaults)

In [ ]:
def func(a, b, *, c, d):
    print(a, b, c, d)

In [ ]:
func(1, 2, c=3, d=4)

1 2 3 4

In [ ]:
func(1, 2, d=4, c=3)

1 2 3 4

In [ ]:
func(1, c=3, d=4, b=2)

1 2 3 4

Keywords and Positionals: some positional defaults

In [ ]:
def func(a, b=2, *, c, d=4):
    print(a, b, c, d)

In [ ]:
func(1, c=3)

1 2 3 4

In [ ]:
func(c=3, a=1)

1 2 3 4

In [ ]:
func(1, 2, c=3, d=4)

1 2 3 4

In [ ]:
func(c=3, a=1, b=2, d=4)

1 2 3 4

Keywords and Positionals: extra positionals

In [ ]:
def func(a, b=2, *args, c=3, d):
    print(a, b, args, c, d)

In [ ]:
func(1, 2, 'x', 'y', 'z', c=3, d=4)

1 2 ('x', 'y', 'z') 3 4



---
**BE CAREFUL!**

*Note that if we are going to use the extra arguments, then we cannot actually use a default value for b:*

In [ ]:
func(1, 'x', 'y', 'z', c=3, d=4)

1 x ('y', 'z') 3 4

as you can see, `b` was assigned the value `x`

Keywords and Positionals: no extra positional, extra keywords

In [ ]:
def func(a, b, *, c, d=4, **kwargs):
    print(a, b, c, d, kwargs)

In [ ]:
func(1, 2, c=3, x=100, y=200, z=300)

1 2 3 4 {'x': 100, 'y': 200, 'z': 300}

In [ ]:
func(x=100, y=200, z=300, c=3, b=2, a=1)

1 2 3 4 {'x': 100, 'y': 200, 'z': 300}

Keywords and Positionals: extra positionals, extra keywords

In [ ]:
def func(a, b, *args, c, d=4, **kwargs):
    print(a, b, args, c, d, kwargs)

In [ ]:
func(1, 2, 'x', 'y', '<', c=3, d=5, x=100, y=200, z=300)

1 2 ('x', 'y', '<') 3 5 {'x': 100, 'y': 200, 'z': 300}

Keywords and Positionals: only extra positional and extra keywords

In [ ]:
def func(*args, **kwargs):
    print(args, kwargs)

In [ ]:
func(1, 2, 3, x=100, y=200, z=300)

(1, 2, 3) {'x': 100, 'y': 200, 'z': 300}

You can see above in a summary table.

**The Print Function**

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(1, 2, 3)

1 2 3

In [ ]:
print(1, 2, 3, sep='--')

1--2--3

In [ ]:
print(1, 2, 3, end='***\n')

1 2 3***

In [ ]:
print(1, 2, 3, sep='\t', end='\t***\t')
print(4, 5, 6, sep='\t', end='\t***\n')

1	2	3	***	4	5	6	***

**Another Use Case**

In [ ]:
def calc_hi_lo_avg(*args, log_to_console=False):
    hi = int(bool(args)) and max(args)
    lo = int(bool(args)) and min(args)
    avg = (hi + lo)/2
    if log_to_console:
        print("high={0}, low={1}, avg={2}".format(hi, lo, avg))
    return avg

In [ ]:
avg = calc_hi_lo_avg(1, 2, 3, 4, 5)
print(avg)

3.0

In [ ]:
avg = calc_hi_lo_avg(1, 2, 3, 4, 5, log_to_console=True)
print(avg)

high=5, low=1, avg=3.0
3.0

### 08 - Simple Function Timer

We want to create a simple function that can time how fast a function runs.

We want this function to be generic in the sense that it can be used to time any function (along with it's positional and keyword arguments), as well as specifying the number of the time the function should be timed, and the returns the average of the timings.

we'll call our function `time_it`, and it will need to have the following parameters:

- the function we want to time
- the positional arguments of the function we want to time (if any)
- the keyword-only arguments of the function we want to time (if any)
- the number of times we want to run this function

In [ ]:
import time

In [ ]:
def time_it(fn, *args, rep=5, **kwargs):
    print(args, rep, kwargs)

Now we could the function this way:

In [ ]:
time_it(print, 1, 2, 3, sep='-')

(1, 2, 3) 5 {'sep': '-'}

Let's modify our fucntion to actually run the print function with any positional and keyword args (except for rep) passed to it.

In [ ]:
def time_it(fn, *args, rep=5, **kwargs):
    for i in range(rep):
        fn(*args, **kwargs)

In [ ]:
time_it(print, 1, 2, 3, sep='-')

1-2-3
1-2-3
1-2-3
1-2-3
1-2-3

As you can see `1, 2, 3` was passed to the `print` function's positional parameters, and keyword-only arg `sep` was also passed to it.

We can even add more arguments:

In [ ]:
time_it(print, 1, 2, 3, sep='-', end=' *** ', rep=3)

1-2-3 *** 1-2-3 *** 1-2-3 ***

Now all that's really left for us to do is to time the function and return the average time:

In [ ]:
def time_it(fn, *args, rep=5, **kwargs):
    start = time.perf_counter()
    for i in range(rep):
        fn(*args, **kwargs)
    end = time.perf_counter()
    return (end - start) / rep

Let's write a few functions we might want to time:

We'll create three functions that all do the same thing: calculate powers of n**k for k in some range of integer values.

In [ ]:
def compute_powers_1(n, *, start=1, end):
    # using a for loop
    results = []
    for i in range(start, end):
        results.append(n**i)
    return results

In [ ]:
def compute_powers_2(n, *, start=1, end):
    # using a list comprehension
    return [n**i for i in range(start, end)]

In [ ]:
def compute_powers_3(n, *, start=1, end):
    # using a generator expression
    return (n**i for i in range(start, end))

Let's run these functions and see the results:

In [ ]:
compute_powers_1(2, end=5)

[2, 4, 8, 16]

In [ ]:
compute_powers_2(2, end=5)

[2, 4, 8, 16]

In [ ]:
list(compute_powers_3(2, end=5))

[2, 4, 8, 16]

Finally let's run these functions through our time_it function and see the results:

In [ ]:
time_it(compute_powers_1, n=2, end=20000, rep=4)

0.5008045760000073

In [ ]:
time_it(compute_powers_2, n=2, end=20000, rep=4)

0.4901232132500013

In [ ]:
time_it(compute_powers_3, n=2, end=20000, rep=4)

2.718250016187085e-06

Although the `compute_powers_3` function appears to be much faster than the other two, it doesn't quite do the same thing!

### 09 - Parameter Defaults - Beware

**Default Values - Beware!**

In [ ]:
from datetime import datetime

In [ ]:
print(datetime.utcnow())

2022-10-16 12:09:33.480344

In [ ]:
def log(msg, *, dt=datetime.utcnow()):
    print('{0}: {1}'.format(dt, msg))

In [ ]:
log('message 1')

2022-10-16 12:10:07.162332: message 1

In [ ]:
log('message 2', dt='2001-01-01 00:00:00')

2001-01-01 00:00:00: message 2

In [ ]:
log('message 3')

2022-10-16 12:10:07.162332: message 3

In [ ]:
log('message 4')

2022-10-16 12:10:07.162332: message 4

As you can see, the default for ``dt` is calculated when the function is defined and is NOT re-evaluated when the function is called.

**Solution Pattern**

Here is one pattern we can use to achieve the desired result:

We actually set the default to None - this makes the argument optional, and we can then test for None inside the function and default to the current time if it is None.

In [ ]:
def log(msg, *, dt=None):
    dt = dt or datetime.utcnow()
    # above is equivalent to:
    # if not dt:
    #    dt = datetime.utcnow()
    print('{0}: {1}'.format(dt, msg))

In [ ]:
log('message 1')

2022-10-16 12:14:45.868182: message 1

In [ ]:
log('message 2')

2022-10-16 12:14:50.820545: message 2

In [ ]:
log('message 3', dt='2001-01-01 00:00:00')

2001-01-01 00:00:00: message 3

In [ ]:
log('message 4')

2022-10-16 12:15:16.887455: message 4

### 10 - Parameter Defaults - Beware Again

Another gotcha with parameter defaults comes with mutable types, and is an easy trap to fall into.

Again, you have to remember that function parameter defaults are evaluated once, when the function is defined (i.e. then the module is loaded, or in this Jupyter notebook, when we "execute" the function definition), and not every time the function is called.

Consider the following scenario.

We are creating a grocery list, and we want our list to contain consistently formatted data with name, quantity and measurement unit:
```
bananas (2 units)
grapes (1 bunch)
milk (1 liter)
python (1 medium-rare)
```

To make sure the data is consistent, we want to use a function thet we can call to add the item to our list.

So we'll need to provide it our current grocery list as well as the item information to be added:

In [ ]:
def add_item(name, quantity, unit, grocery_list):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

We have two stores we want to visit, so we set up two grocery lists:

In [ ]:
store_1 = []
store_2 = []

In [ ]:
add_item('bananas', 2, 'units', store_1)
add_item('grapes', 1, 'bunch', store_1)
add_item('python', 1, 'medium-rare', store_2)

['python (1 medium-rare)']

In [ ]:
store_1

['bananas (2 units)', 'grapes (1 bunch)']

In [ ]:
store_2

['python (1 medium-rare)']

Ok, working great. But let's make the function a little easier to use - if the user does not supply an existing grocery list to append the item to, let's just go ahead and default our `grocery_list` to an empty list hence starting a new shopping list:

In [ ]:
def add_item(name, quantity, unit, grocery_list=[]):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

In [ ]:
store_1 = add_item('banans', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['banans (2 units)', 'grapes (1 bunch)']

In [ ]:
store_1

['banans (2 units)', 'grapes (1 bunch)']

OK, so that seems to be working as exprected.

Let's start our second list:

In [ ]:
store_2 = add_item('milk', 1, 'gallon')

In [ ]:
print(store_2)

['banans (2 units)', 'grapes (1 bunch)', 'milk (1 gallon)']

?? Whats going on= Our second list somehow contains the items that are in the first list.

What happened is that the returned value in the first call we made was the default grocery list - but remember that the list was created once and for all when the function was created not called. So everytime we call the function, that is the same list being used as the default.

When we started our first list, we were adding item to that default list.

Wgen we started our second list, we were adding items to the same default list (since it is the same object).

We can avoid this problem using the same pattern as in the previous example we had with the default date time value. We use `None` as a default value instead, and generate a new empty list (hence starting a new list) if none vas provided.

In [ ]:
def add_item(name, quantity, unit, grocery_list=None):
    if not grocery_list:
        grocery_list = []
    item_fmt ="{0}, ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

In [ ]:
store_1 = add_item('bananas', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['bananas, (2 units)', 'grapes, (1 bunch)']

In [ ]:
store_2 = add_item('milk', 1, 'gallon')
store_2

['milk, (1 gallon)']

Issue resolved!
However, there are legitimate use cases (well, almost legitimate, often we're better off using a different approach that we'll see when we look at closures), but here's asimple one.

We want our function to cache results, so that we don't recalculate something more that once.

Let's say we have a factorial function, that can be defined recursively as:
`n! = n * (n-1)!`

In [ ]:
def factorial(n):
    if n < 1:
        return 1
    else:
        print('calculating {0}!'.format(n))
        return n * factorial(n-1)

In [ ]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [ ]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

As you can see we had to recalculate all those factorials the second time around.

Let's cache the results leveraging what we saw in the previous example:

In [ ]:
def factorial(n, cache={}):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print('calculating {0}'.format(n))
        result = n * factorial(n-1)
        cache[n] = result
        return result

In [ ]:
factorial(3)

calculating 3
calculating 2
calculating 1

6

In [ ]:
factorial(3)

6

Now as you can see, the second time around we did not have to recalculate all the factorials. In fact, to calculate higher factorials, you'll notice that we don't need to re-run all the recursive calls:

In [ ]:
factorial(5)

calculating 5
calculating 4

120

`5!` and `4!` was calculated since they weren't cached, but since `3!` was already cached we didn't have to recalculate it - it was a quick lookup instead.

This technique is something called memoization, and we'll come back to it in much more detail when we discuss closures and decorators.

## Section 06 - First-Class Functions

### 01 - Docstrings and Annotations

**Docstrings**

When we call `help()` on a class, function, module, etc. Python will typically display some information:

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

We can define such help using docstrings and annotations.

In [ ]:
def my_func(a, b):
    return a*b

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a, b)

Pretty bare! So let's add some additional help:

In [ ]:
def my_func(a, b):
    'Returns the product of a and b'
    return a*b

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a, b)
    Returns the product of a and b

Doctstrings can span multiple lines using a multi-line string literal:

In [ ]:
def fact(n):
    '''Calculate n! (factorial function)

    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n
    '''

    if n < 0:
        '''Note that this is not part of the docstring!'''
        return 1
    else:
        return n * fact(n-1)

In [ ]:
help(fact)

Help on function fact in module __main__:

fact(n)
    Calculate n! (factorial function)

    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n

Docstrings, when found, are simply attached to the function in the `__doc__` property:

In [ ]:
fact.__doc__

'Calculate n! (factorial function)\n\n    Inputs:\n        n: non-negative integer\n    Returns:\n        the factorial of n\n    '

And the Python `help()` function simply returns the contents of `__doc__`

**Annotations**

We can also add metadata annotations to a function's parameters and return. The metadata annotations can be any expression (string, type, function call, etc)

In [ ]:
def my_func(a: 'annotation for a',
            b: 'annotation for b')->'annotation for return':
            return a*b

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a: 'annotation for a', b: 'annotation for b') -> 'annotation for return'

The annotations can be any expression not just strings:

In [ ]:
x = 3
y = 5
def my_func(a: str) -> 'a repeated ' + str(max(3, 5)) + ' times':
    return a*max(x, y)

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a: str) -> 'a repeated 5 times'



---

**BE CAREFUL!**

**Note that these annotations do not force a type on the parameters or the return value - the are simply there for documentation purposes within Python and may be used by external applications and modules, such as IDE's.**



---

Just like docstrings are stored in the `__doc__` property, annotations are stored in the `__annotations__` property - a dictionary whose keys are the parameter names, and values are the annotation.

In [ ]:
my_func.__annotations__

{'a': str, 'return': 'a repeated 5 times'}

Of course we can combine both docstrings and annotations:

In [ ]:
def fact(n: 'int >= 0') ->int:
    '''Calculate n! (factorial function)

    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n
    '''

    if n < 0:
        '''Note that this is not part of the docstring!'''
        return 1
    else:
        return n * fact(n-1)

In [ ]:
help(fact)

Help on function fact in module __main__:

fact(n: 'int >= 0') -> int
    Calculate n! (factorial function)

    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n

Annotations will work with default parameters too: just specify the default after the annotation:

In [ ]:
def my_func(a:str='a', b:int=1)->str:
    return a*b

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a: str = 'a', b: int = 1) -> str

In [ ]:
my_func()

'a'

In [ ]:
my_func('abc', 3)

'abcabcabc'

In [ ]:
def my_func(a:int=0, *args:'additional args'):
    print(a, args)

In [ ]:
my_func.__annotations__

{'a': int, 'args': 'additional args'}

In [ ]:
help(my_func)

Help on function my_func in module __main__:

my_func(a: int = 0, *args: 'additional args')

### 02 - Lambda Expressions

In [ ]:
lambda x: x**2

As you can see, the above expression expression just created a function.

**Assigning to a Variable**

In [ ]:
func = lambda x: x**2

In [ ]:
type(func)

function

In [ ]:
func(3)

9

We can specify arguments for lambdas just like we would for any function created using `def`, except for annotations:

In [ ]:
func_1 = lambda x, y=10: (x, y)

In [ ]:
func_1(1, 2)

(1, 2)

In [ ]:
func_1(1)

(1, 10)

We can even use `*` and `**`:

In [ ]:
func_2 = lambda x, *args, y, **kwargs: (x, *args, y, {**kwargs})

In [ ]:
func_2(1, 'a', 'b', y=100, a=10, b=20)

(1, 'a', 'b', 100, {'a': 10, 'b': 20})

**Passing as an Argument**

Lambdas are functions, and can therefore be passed to any other function as an argument (or returned from another function)

In [ ]:
def apply_func(x, fn):
    return fn(x)

In [ ]:
apply_func(3, lambda x: x**2)

9

In [ ]:
apply_func(3, lambda x: x**3)

27

Of course we can make this even more generic:

In [ ]:
def apply_func(fn, *args, **kwargs):
    return fn(*args, **kwargs)

In [ ]:
apply_func(lambda x, y: x+y, 1, y=2)

3

In [ ]:
apply_func(lambda x, *, y: x+y, 1, y=2)

3

In [ ]:
apply_func(lambda *args: sum(args), 1, 2, 3, 4,5)

15

Of course, we don't have to use lambdas when calling `apply_func`, we can also pass in a function defined using a `def` statement:

In [ ]:
def multiply(x, y):
    return x * y

In [ ]:
apply_func(multiply, 'a', 5)

'aaaaa'

In [ ]:
apply_func(lambda x, y: x*y, 'a', 5)

'aaaaa'

### 03 - Lambdas and Sorting

Python has a built-in `sorted` method that can be used to sort any iterable. It will be use the default ordering of the particular items, but sometimes you may want to (or need to) specify a different criteria for sorting.

Let's start wit a simple list:

In [ ]:
l = ['a', 'B', 'c', 'D']

In [ ]:
sorted(l)

['B', 'D', 'a', 'c']

As you can see there is a difference between upper and lower-case characters when sorting strings.

What if we wanted to make a cese-insensitive sort?

Python's `sorted` function has a keyword-only argument that allows us to modify the values that are used to sort the list.

In [ ]:
sorted(l, key=str.upper)

['a', 'B', 'c', 'D']

We could habe used a lambda here (but you should not, this is just to illustrate using a lambda in this case):

In [ ]:
sorted(l, key = lambda s: s.upper())

['a', 'B', 'c', 'D']

Let's look at how we might create a sorted list from a dictionary:

In [ ]:
d = {'def': 300, 'abc': 200, 'ghi': 100}

In [ ]:
d

{'def': 300, 'abc': 200, 'ghi': 100}

In [ ]:
sorted(d)

['abc', 'def', 'ghi']

What happened here?

Remember that iterating dictionaries actually iterates the keys - so we ended up with the keys sorted alphabetically.

What if we want to return the keys sored by their associated value instead?

In [ ]:
sorted(d, key=lambda k: d[k])

['ghi', 'abc', 'def']

Maybe we want to sort complex numbers based on their distance from the origin:

In [ ]:
def dist(x):
    return (x.real)**2 + (x.imag)**2

In [ ]:
l = [3+3j, 1+1j, 0]

Trying to sort this list directly won't work since Python does not have an ordering defined for complex numbers:

In [ ]:
sorted(l)

TypeError: ignored

In [ ]:
sorted(l, key=dist)

[0, (1+1j), (3+3j)]

Of course, if we're only going to use the `dist` function once, we can just do the same thing this way:

In [ ]:
sorted(l, key=lambda x: (x.real)**2 + (x.imag)**2)

[0, (1+1j), (3+3j)]

And here's another example where we want to sort a list of strings based on the last character of the string:

In [ ]:
l = ['Cleese', 'Idle', 'Palin', 'Chapman', 'Gilliam', 'Jones']

In [ ]:
sorted(l)

['Chapman', 'Cleese', 'Gilliam', 'Idle', 'Jones', 'Palin']

In [ ]:
sorted(l, key=lambda s: s[-1])

['Cleese', 'Idle', 'Gilliam', 'Palin', 'Chapman', 'Jones']

### 04 - Challenge - Randomizing an Iterable using Sorted

In [ ]:
import random

In [ ]:
help(random.random)

Help on built-in function random:

random(...) method of random.Random instance
    random() -> x in the interval [0, 1).

In [ ]:
random.random()

0.11410995152481895

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
sorted(l, key=lambda x: random.random())

[6, 9, 5, 7, 3, 10, 2, 8, 1, 4]

Of course, this works for any iterable:

In [ ]:
sorted('abcdefg', key = lambda x: random.random())

['c', 'f', 'e', 'g', 'b', 'a', 'd']

And to get a string back instead of just a list:

In [ ]:
''.join(sorted('abcdefg', key = lambda x: random.random()))

'eagcdfb'

### 05 - Function Introspection

In [ ]:
def fact(n: "some non-negative integer") -> "n! or 0 if n < 0":
    """Calculates the factorial of a non-negative integer n

    if n is negative, returns 0.
    """
    if n < 0:
        return 0
    elif n <= 1:
        return 1
    else:
        return n * fact(n-1)

Since functions are objects, we can add attributes to a function:

In [ ]:
fact.short_description = "factorial function"

In [ ]:
print(fact.short_description)

factorial function

We can see all the attributes that belong to a function using the `dir` function:

In [ ]:
dir(fact)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'short_description']

We can see our `short_description` attribute, as well as some attributes we have seen before: `annotations` and `doc`

In [ ]:
fact.__doc__

'Calculates the factorial of a non-negative integer n\n\n    if n is negative, returns 0.\n    '

In [ ]:
fact.__annotations__

{'n': 'some non-negative integer', 'return': 'n! or 0 if n < 0'}

We'll revisit some of these attributes later in this course, but let's take a look a few here:

In [ ]:
def my_func(a, b=2, c=3, *, kw1, kw2=2, **kwargs):
    pass

Let's assign `my_func` to another variable:

In [ ]:
f = my_func

The `name` attribute holds the function's name:

In [ ]:
my_func.__name__

'my_func'

In [ ]:
f.__name__

'my_func'

The `defaults` attribute is a tuple contatining any positional parameter defaults:

In [ ]:
my_func.__defaults__

(2, 3)

In [ ]:
my_func.__kwdefaults__

{'kw2': 2}

Let's create a function with some local variables:

In [ ]:
def my_func(a, b=1, *args, **kwargs):
    i = 10
    b = min(i, b)
    return a * b

In [ ]:
my_func('a', 100)

'aaaaaaaaaa'

The `code` attribute contains a `code` object:

In [ ]:
my_func.__code__

This `code` object itself has various properties:

In [ ]:
dir(my_func.__code__)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'co_argcount',
 'co_cellvars',
 'co_code',
 'co_consts',
 'co_filename',
 'co_firstlineno',
 'co_flags',
 'co_freevars',
 'co_kwonlyargcount',
 'co_lnotab',
 'co_name',
 'co_names',
 'co_nlocals',
 'co_stacksize',
 'co_varnames']

Attribute `co_varnames` is a tuple containing the parameter names and local variables:

In [ ]:
my_func.__code__.co_varnames

('a', 'b', 'args', 'kwargs', 'i')

Attribute `co_argcount` returns the number of arguments (minus any * and ** args)

In [ ]:
my_func.__code__.co_argcount

2

**The inspect module**

it is much easier to use the inspect module!

In [ ]:
import inspect

In [ ]:
inspect.isfunction(my_func)

True



---

**BE CAREFUL!**

*By the way, there is a difference between a function and a method! A method is a function that is bound to some object:*

In [ ]:
inspect.ismethod(my_func)

False



---

In [ ]:
class MyClass:
    def f_instance(self):
        pass
    
    @classmethod
    def f_class(cls):
        pass
    
    @staticmethod
    def f_static():
        pass

`Instance methods` are bound to the `instance` of a class (not the class itself)

`Class methods` are bound to the `class`, not instances

`Static methods` are no bound either to the class or its instances

In [ ]:
inspect.isfunction(MyClass.f_instance), inspect.ismethod(MyClass.f_instance)

(True, False)

In [ ]:
inspect.isfunction(MyClass.f_class), inspect.ismethod(MyClass.f_class)

(False, True)

In [ ]:
inspect.isfunction(MyClass.f_static), inspect.ismethod(MyClass.f_static)

(True, False)

In [ ]:
my_obj = MyClass()

In [ ]:
inspect.isfunction(my_obj.f_instance), inspect.ismethod(my_obj.f_class)

(False, True)

In [ ]:
inspect.isfunction(my_obj.f_class), inspect.ismethod(my_obj.f_class)

(False, True)

In [ ]:
inspect.isfunction(my_obj.f_static), inspect.ismethod(my_obj.f_static)

(True, False)

If you just want to know if something is a function or method:

In [ ]:
inspect.isroutine(my_func)

True

In [ ]:
inspect.isroutine(MyClass.f_instance)

True

In [ ]:
inspect.isroutine(my_obj.f_class)

True

In [ ]:
inspect.isroutine(my_obj.f_static)

True

**Introspecting Callable Code**

We can get back the source code of our function using the `getsource()` method:

In [ ]:
inspect.getsource(fact)

'def fact(n: "some non-negative integer") -> "n! or 0 if n < 0":\n    """Calculates the factorial of a non-negative integer n\n\n    if n is negative, returns 0.\n    """\n    if n < 0:\n        return 0\n    elif n <= 1:\n        return 1\n    else:\n        return n * fact(n-1)\n'

In [ ]:
print(inspect.getsource(fact))

def fact(n: "some non-negative integer") -> "n! or 0 if n < 0":
    """Calculates the factorial of a non-negative integer n

    if n is negative, returns 0.
    """
    if n < 0:
        return 0
    elif n <= 1:
        return 1
    else:
        return n * fact(n-1)

In [ ]:
inspect.getsource(MyClass.f_instance)

'    def f_instance(self):\n        pass\n'

In [ ]:
inspect.getsource(my_obj.f_instance)

'    def f_instance(self):\n        pass\n'

We can also find out where the function was defined:

In [ ]:
inspect.getmodule(fact)

In [ ]:
inspect.getmodule(print)

In [ ]:
# setting up variable
i = 10

# comment line 1
# comment line 2
def my_func(a, b=1):
    # comment inside my_func
    pass

In [ ]:
inspect.getcomments(my_func)

'# comment line 1\n# comment line 2\n'

In [ ]:
print(inspect.getcomments(my_func))

# comment line 1
# comment line 2

**Introspecting Callable Signatures**

In [ ]:
# TODO: Provide Implementation
def my_func(a: 'a string',
            b: int = 1,
            *args: 'additional positional args',
            kw1: 'first keyword-only arg',
            kw2: 'second keyword-only arg'=10,
            **kwargs: 'additional keyword-only args') -> str:
    """does something
    or other"""
    pass

In [ ]:
inspect.signature(my_func)

In [ ]:
type(inspect.signature(my_func))

inspect.Signature

In [ ]:
sig = inspect.signature(my_func)

In [ ]:
dir(sig)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind',
 '_bound_arguments_cls',
 '_hash_basis',
 '_parameter_cls',
 '_parameters',
 '_return_annotation',
 'bind',
 'bind_partial',
 'empty',
 'from_builtin',
 'from_callable',
 'from_function',
 'parameters',
 'replace',
 'return_annotation']

In [ ]:
for param_name, param in sig.parameters.items():
    print(param_name, param)

a a: 'a string'
b b: int = 1
args *args: 'additional positional args'
kw1 kw1: 'first keyword-only arg'
kw2 kw2: 'second keyword-only arg' = 10
kwargs **kwargs: 'additional keyword-only args'

In [ ]:
def print_info(f: "callable") -> None:
    print(f.__name__)
    print('=' * len(f.__name__), end='\n\n')

    print('{0}\n{1}\n'.format(inspect.getcomments(f),
                              inspect.cleandoc(f.__doc__)))
    
    print('{0}\n{1}'.format('Inputs', '-'*len('Inputs')))

    sig = inspect.signature(f)
    for param in sig.parameters.values():
        print('Name:', param.name)
        print('Default:', param.default)
        print('Annotation:', param.annotation)
        print('Kind:', param.kind)
        print('----------------\n')
    
    print('{0}\n{1}'.format('\n\nOutput', '-'*len('Output')))
    print(sig.return_annotation)

In [ ]:
print_info(my_func)

my_func
=======

# TODO: Provide Implementation

does something
or other

Inputs
------
Name: a
Default: <class 'inspect._empty'>
Annotation: a string
Kind: POSITIONAL_OR_KEYWORD
----------------

Name: b
Default: 1
Annotation: <class 'int'>
Kind: POSITIONAL_OR_KEYWORD
----------------

Name: args
Default: <class 'inspect._empty'>
Annotation: additional positional args
Kind: VAR_POSITIONAL
----------------

Name: kw1
Default: <class 'inspect._empty'>
Annotation: first keyword-only arg
Kind: KEYWORD_ONLY
----------------

Name: kw2
Default: 10
Annotation: second keyword-only arg
Kind: KEYWORD_ONLY
----------------

Name: kwargs
Default: <class 'inspect._empty'>
Annotation: additional keyword-only args
Kind: VAR_KEYWORD
----------------



Output
------
<class 'str'>

**A Side Note on Positional Only Arguments**

Some built-in callables have arguments that are positional only (i.e. cannot be specified using a keyword).

However, Python does not currently have any syntax that allows us to define callables with positional only arguments.

In general, the documentation uses a `/` character to indicate that all preceding arguments are positional-only. But not always :(

In [ ]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

Here we see that the `divmod` function takes two positional-only parameters:

In [ ]:
divmod(10, 3)

(3, 1)

In [ ]:
divmod(x=10, y=3)

TypeError: ignored



---
**BE CAREFUL!**

*Similarly, the string `replace` function also takes positional-only arguments, however, the documentation not indicate this!*

*It has been updated*

In [ ]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [ ]:
'abcdefg'.replace('abc', 'xyz')

'xyzdefg'

In [ ]:
'abcdefg'.replace(old='abc', new='xyz')

TypeError: ignored

### 06 - Callables

A callable is an object that can be called (using the `()` operator), and always returns a value.

We can check if an object is callable by using the built-in function `callable`

**Functions and Methods are callable**

In [ ]:
callable(print)

True

In [ ]:
callable(len)

True

In [ ]:
from decimal import Decimal
from fractions import Fraction
[callable(list), callable(bytearray), callable(set), callable(dict),
callable(bool), callable(int), callable(float), callable(complex),
callable(tuple), callable(bytes), callable(frozenset), callable(Decimal),
callable(Fraction), callable(range), callable(str)
]

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [ ]:
l = [1, 2, 3]
callable(l.append)

True

In [ ]:
s = 'abc'

Callables always return a value:

In [ ]:
result = print('hello')
print(result)

hello
None

In [ ]:
l = [1, 2, 3]
result = l.append(4)
print(result)
print(l)

None
[1, 2, 3, 4]

In [ ]:
s = 'abc'
result = s.upper()
print(result)

ABC

**Classes are callable:**

In [ ]:
from decimal import Decimal

In [ ]:
callable(Decimal)

True

In [ ]:
result = Decimal('10.5')
print(result)

10.5

**Class instances may be callable:**

In [ ]:
class MyClass:
    def __init__(self):
        print('initializing...')
        self.counter = 0

    def __call__(self, x=1):
        self.counter += x
        print(self.counter)

In [ ]:
my_obj = MyClass()

initializing...

In [ ]:
callable(my_obj.__init__)

True

In [ ]:
callable(my_obj.__call__)

True

In [ ]:
my_obj()

1

In [ ]:
my_obj()

2

In [ ]:
my_obj(10)

12

In [ ]:
callable(my_obj)

True

### 07 - Map, Fiter, Zip and List Comprehensions

**Higher - Order Functions: Map and Filter**

**Definition: ** A function that takes a function as an argument, and/or returns a function as its return value.

For example, the `sorted` function is a higher-order function as we saw in an earlier video.

**Map**

The `map` built-in function is a higher-order function that applies a function to an iterable type object:

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
def fact(n):
    return 1 if n < 2 else n * fact(n-1)

In [ ]:
fact(3)

6

In [ ]:
fact(4)

24

In [ ]:
map(fact, [1, 2, 3, 4, 5])

The `map` function returns a `map` object, which is an iterable - we can either convert that to a list or enumerate it:

In [ ]:
l = list(map(fact, [1, 2, 3, 4, 5]))

We can also use it this way:

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]

f = lambda x, y: x+y

m = map(f, l1, l2)
list(m)

[11, 22, 33, 44, 55]

**Filter**

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

The `filter` function is a function that filters an iterable based on the truthyness of the elements, or the truthyness of the elements after applying a function to them. Like the `map` function, the `filter` function returns an iterable that we can view by generating a list from it, or simply enumerating in a for loop.

In [ ]:
l = [0, 1, 2, 3, 4, 5, 6]
for e in filter(None, l):
    print(e)

1
2
3
4
5
6

Notice how `0` was eliminated from the list, since `0` is `falsy`.

We can use a function for this filtering.

Suppose we want to filter our all odd values, only retaining even values:

We could first define a function to return True if the value is even, and False otherwise:

In [ ]:
def is_even(n):
    return n % 2 == 0

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = filter(is_even, l)
print(list(result))

[2, 4, 6, 8]

Of course, we could just use a lambda expression instead:

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = filter(lambda x: x % 2 == 0, l)
print(list(result))

[2, 4, 6, 8]

**Alternatives to `map` and `filter` using Comprehensions**

We'll cover comprehensions in much more detail later, but, for now, just be aware that we can use comprehensions instead of the `map` and `filter` functions - you decide which one you find more readable and enjoyable to write.

**Map using a list comprehension:**

- factorial example

In [ ]:
l = [1, 2, 3, 4, 5]
result = [fact(i) for i in l]
print(result)

[1, 2, 6, 24, 120]

- two iterables example

Before we do this example we need to know about the `zip` function.

The `zip` built-in function will take one or more iterables, and generate an iterable of tuples where each tuple contains one element from each iterable:

In [ ]:
l1 = 1, 2 ,3
l2 = 'a', 'b', 'c'
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
l1 = 1, 2, 3
l2 = [10, 20, 30]
l3 = ('a', 'b', 'c')
list(zip(l1, l2, l3))

[(1, 10, 'a'), (2, 20, 'b'), (3, 30, 'c')]

In [ ]:
l1 = [1, 2, 3]
l2 = (10, 20, 30)
l3 = 'abc'
list(zip(l1, l2, l3))

[(1, 10, 'a'), (2, 20, 'b'), (3, 30, 'c')]

In [ ]:
l1 = range(100)
l2 = 'python'
list(zip(l1, l2))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

Using the `zip` function we can now add our two lists element by element as follows:

**Filtering using a comprehension**

We can very easily filter an iterable using a comprehension as follows:

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [i for i in l if i % 2 == 0]
print(result)

[2, 4, 6, 8]

As you can see, we did not even need a lambda expression!

**Combining `map` and `filter`**

In [ ]:
list(filter(lambda y: y < 25, map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16]

Alternatively, we can use a list comprehension to do the same thing:

In [ ]:
[x**2 for x in range(10) if x**2 < 25]

[0, 1, 4, 9, 16]

### 08 - Reducing Functions

**Maximum and Minimum**

Suppose we want to find the maximum value in a list:

In [ ]:
l = [5, 8, 6, 10, 9]

We can solve this problem using a `for` loop.

First we define a function that returns the maximum of two arguments:

In [ ]:
_max = lambda a, b: a if a > b else b

In [ ]:
def max_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _max(result, x)
    return result

In [ ]:
max_sequence(l)

10

To calculate the minimum, all we need to do is to change the function that is repeatedly applied:

In [ ]:
_min = lambda a, b: a if a < b else b

In [ ]:
def min_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _min(result, x)
    return result

In [ ]:
print(l)
print(min_sequence(l))

[5, 8, 6, 10, 9]
5

In general we could write it like this:

In [ ]:
def _reduce(fn, sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = fn(result, x)
    return result

In [ ]:
_reduce(_max, l)

10

In [ ]:
_reduce(_min, l)

5

We could even just use a lambda direcly in the call to `_reduce`:

In [ ]:
_reduce(lambda a, b: a if a > b else b, l)

10

In [ ]:
_reduce(lambda a, b: a if a < b else b, l)

5

Using the same approach, we could even add all the elements of a sequence together:

In [ ]:
print(l)

[5, 8, 6, 10, 9]

In [ ]:
_reduce(lambda a, b: a + b, l)

38

Python actually implements a reduce function, which is found in the `functools` module. Unline our `_reduce` function, it can handle any iterable, not just sequences.

In [ ]:
from functools import reduce

In [ ]:
l

[5, 8, 6, 10, 9]

In [ ]:
reduce(lambda a, b: a if a > b else b, l)

10

In [ ]:
reduce(lambda a, b: a if a < b else b, l)

5

In [ ]:
reduce(lambda a, b: a + b, l)

38

Finding the max and min of an iterable is such a common thing that Python provides a built-in function to do just that:

In [ ]:
max(l), min(l)

(10, 5)

Finding the sum of all the elements in an iterable is also common enough that Python implements the `sum` function:

In [ ]:
sum(l)

38

**The `any` and `all` built-ins**

Python provides two additional built-in reducing functions: `any` and `all`

The `any` function will return `True` if any element in the iterable is truthy:

In [ ]:
l = [0, 1, 2]
any(l)

True

In [ ]:
l = [0, 0, 0]
any(l)

False

On the other hand, `all` will return True if every element of the iterable is truthy:

In [ ]:
l = [0, 1, 2]
all(l)

False

In [ ]:
l = [1, 2, 3]
all(l)

True

We can implement these functions ourselves using `reduce` if we choose to - simply use the Boolean `or` or `and` operators as the function passed to `reduce` to implement `any` and `all` respectively.

**any**

In [ ]:
l = [0, 1, 2]
reduce(lambda a, b: bool(a or b), l)

True

In [ ]:
l = [0, 0 ,0]
reduce(lambda a, b: bool(a or b), l)

False

**all**

In [ ]:
l = [0, 1, 2]
reduce(lambda a, b: bool(a and b), l)

False

In [ ]:
l = [1, 2, 3]
reduce(lambda a, b: bool(a and b), l)

True

**Products**

Sometimes we may want to find the product of every element of an iterable.

Python does not provide us a built-in method to do this, so we have to either use a procedural approach, or we can use the `reduce` function.

We start by defining a function that multiplies two arguments together:

In [ ]:
def mult(a, b):
    return a * b

Then we can use the `reduce` function:

In [ ]:
l = [2, 3, 4]
reduce(mult, l)

24

Remember what this did:

```
step 1: result = 2
step 2: result = mult(result, 3) = mult(2, 3) = 6
step 3: result = mult(result, 4) = mult(6, 4) = 24
step 4: l exhausted, return result --> 24

```

Of course, we can also just use a lambda:

In [ ]:
reduce(lambda a, b: a * b, l)

24

**Factorials**

A special case of the product we just did would be calculating  the factorial of some number `(n!)`:

Recall:

`n! = 1 * 2 * 3 * ... * n`

In other words, we are calculating the product of a sequence containing consecutive integers from 1 to n (inclusive)

We can easily writ this using a simple for loop:

In [ ]:
def fact(n):
    if n <= 1:
        return 1
    else:
        result = 1
        for i in range(2, n+1):
            result *= i
        return result

In [ ]:
fact(1), fact(2), fact(3), fact(4), fact(5)

(1, 2, 6, 24, 120)

We could also write this using a recursive function:

In [ ]:
def fact(n):
    if n <= 1:
        return 1
    else:
        return n * fact(n-1)

In [ ]:
fact(1), fact(2), fact(3), fact(4), fact(5)

(1, 2, 6, 24, 120)

Finally we can also write this using `reduce` as follows:

In [ ]:
n = 5
reduce(lambda a, b: a * b, range(1, n+1))

120

As you can see, the `reduce` approach, although concise, is sometimes more difficult to understand than the plain loop or recursive approach.

**`reduce` initializer**

Suppose we want to provide some sort of default when calculate the product of the elements of an iterable if that iterable is empty:

In [ ]:
l = [1, 2, 3]
reduce(lambda x, y: x*y, l)

6

but if `l` is empty:

In [ ]:
l = []
reduce(lambda x, y: x*y, l)

TypeError: ignored

To fix this, we can provide an initializer. In tihs case, we will use `1` since that will not affect the result of the product, and still allow us to return a value for an empty iterable.

In [ ]:
l = []
reduce(lambda x, y: x*y, l, 1)

1

### 09 - Partial Functions

In [ ]:
from functools import partial

In [ ]:
def my_func(a, b, c):
    print(a, b, c)

In [ ]:
f = partial(my_func, 10)

In [ ]:
f(20, 30)

10 20 30

We could have done this using another function (or a lambda) as well:

In [ ]:
def partial_func(b, c):
    return my_func(10, b, c)

In [ ]:
partial_func(20, 30)

10 20 30

or, using a lambda:

In [ ]:
fn = lambda b, c: my_func(10, b, c)

In [ ]:
fn(20, 30)

10 20 30

Any of these ways is fine, but sometimes partial is just a cleaner more concise way to do it.

Also, it is quite flexible with parameters:

In [ ]:
def my_func(a, b, *args, k1, k2, **kwargs):
    print(a, b, args, k1, k2, kwargs)

In [ ]:
f = partial(my_func, 10, k1='a')

In [ ]:
f(20, 30, 40, k2='b', k3='c')

10 20 (30, 40) a b {'k3': 'c'}

We can of course do the same thing using a regular function too:

In [ ]:
def f(b, *args, k2, **kwargs):
    return my_func(10, b, *args, k1='a', k2=k2, **kwargs)

In [ ]:
f(20, 30, 40, k2='b', k3='c')

10 20 (30, 40) a b {'k3': 'c'}

As you can see in this case, using `partial` seems a lot simpler.

Also, you are not stuck having to specify the first argument in your partial:

In [ ]:
def power(base, exponent):
    return base ** exponent

In [ ]:
power(2, 3)

8

In [ ]:
square = partial(power, exponent=2)

In [ ]:
square(4)

16

In [ ]:
cube = partial(power, exponent=3)

In [ ]:
cube(2)

8

In [ ]:
cube(2, 4)

TypeError: ignored

You can even call it this way:

In [ ]:
cube(2, exponent=4)

16

In [ ]:
cube(base=3)

27

In [ ]:
func1 = partial(power, 4)

In [ ]:
func1(2)

16

In [ ]:
def my_func1(a, b, c):
    return [a, b, c]

In [ ]:
func1 = partial(my_func1, 4)
func1(1,2)

[4, 1, 2]

In [ ]:
func1 = partial(my_func1, c=4)
func1(1,2)

[1, 2, 4]

In [ ]:
func1 = partial(my_func1, b=4)
func1(1,2)

TypeError: ignored



---
**BE CAREFUL!**

**CAVEAT**

*We can certainly use variables of literals when creating partials, but we have to be careful.*

In [ ]:
def my_func(a, b, c):
    print(a, b, c)

In [ ]:
a = 10
f = partial(my_func, a)

In [ ]:
f(20, 30)

10 20 30

*Now let's change the value of the variable `a` and see what happens:*

In [ ]:
a = 100

In [ ]:
f(20, 30)

10 20 30

*As you can see, the value for `a` is fixed once the partial has been created.*

*In fact, the memory address of `a` is baked in to the partial, and `a` is immutable.*

*If we use a mutable obkect, things are different:*

In [ ]:
a = [10, 20]
f = partial(my_func, a)

In [ ]:
f(100, 200)

[10, 20] 100 200

In [ ]:
a.append(30)

In [ ]:
f(100, 200)

[10, 20, 30] 100 200



---

**Use Cases**

We tent to use partials in situation where we need to call a function that actually requires more parameters then we can supply.

Often this is because we are working with exiting libraries or code, and we have a special case.

For example, suppose we habe points (represented as tuples), and we want to sort them based on the distance of the point from some other fixed point:

In [ ]:
origin = (0, 0)
l = [(1, 1), (0, 2), (-3, 2), (0, 0), (10, 10)]

In [ ]:
dist2 = lambda x, y:(x[0]-y[0])**2 + (x[1]-y[1])**2

In [ ]:
dist2((0,0), (1,1))

2

In [ ]:
sorted(l, key = lambda x: dist2((0,0), x))

[(0, 0), (1, 1), (0, 2), (-3, 2), (10, 10)]

In [ ]:
sorted(l, key=partial(dist2, (0, 0)))

[(0, 0), (1, 1), (0, 2), (-3, 2), (10, 10)]

Another use case is when using callback functions. Usually these are used when running asynchronous operations, and you provide a callable to another callable which will be called when the first callable completes its execution.

Very ofteni this asynchronous callable will specify the number of variables that the callback function must have - this may not be what we want, maybe we want to add some additional info.

We'll look at asynchronous processing later in this course.

Often we can also use partial functions to make our life a bit easier.

Consider a situation where we have some generic `email()` function that can be used to notify when various things happen in our application. But depending on what is happening we may want to norify different people. Let's see how we may do this:

In [ ]:
def sendmail(to, subject, body):
    # code to send email
    print('To:{0}, Subject:{1}, Body:{2}'.format(to, subject, body))

Now, we may have different email addresses we want to send notifications to, maybe defined in a config file in our app. Here, I'll just use hardcoded variables:

In [ ]:
email_admin = 'palin@python.edu'
email_devteam = 'idle@python.edu;cleese@python.edu'

Now when we want to send emails we would have to write things like:

In [ ]:
sendmail(email_admin, 'My App Notification', 'the parrot is dead.')
sendmail(';'.join((email_admin, email_devteam)), 'My App Notification', 'the ministry is closed until further notice.')

To:palin@python.edu, Subject:My App Notification, Body:the parrot is dead.
To:palin@python.edu;idle@python.edu;cleese@python.edu, Subject:My App Notification, Body:the ministry is closed until further notice.

We could simply our life a little using partials this way:

In [ ]:
send_admin = partial(sendmail, email_admin, 'For you eyes only')
send_dev = partial(sendmail, email_devteam, 'Dear IT:')
send_all = partial(sendmail, ';'.join((email_admin, email_devteam)), 'Loyal Subjects')

In [ ]:
send_admin('the parrot is dead.')
send_all('the ministry is closed until further notice.')

To:palin@python.edu, Subject:For you eyes only, Body:the parrot is dead.
To:palin@python.edu;idle@python.edu;cleese@python.edu, Subject:Loyal Subjects, Body:the ministry is closed until further notice.

Finally, let's make this a little more complex, with a mixture of positional and keyword-only arguments:

In [ ]:
def sendmail(to, subject, body, *, cc=None, bcc=email_devteam):
    # code to send email
    print('To:{0}, Subject:{1}, Body:{2}, CC:{3}, BCC:{4}'.format(to, 
                                                                  subject, 
                                                                  body, 
                                                                  cc, 
                                                                  bcc))

In [ ]:
send_admin = partial(sendmail, email_admin, 'General Admin')
send_admin_secret = partial(sendmail, email_admin, 'For your eyes only', cc=None, bcc=None)

In [ ]:
send_admin('and now for something completely different')

To:palin@python.edu, Subject:General Admin, Body:and now for something completely different, CC:None, BCC:idle@python.edu;cleese@python.edu

In [ ]:
send_admin_secret('the parrot is dead!')

To:palin@python.edu, Subject:For your eyes only, Body:the parrot is dead!, CC:None, BCC:None

In [ ]:
send_admin_secret('the parrot is no more!', bcc=email_devteam)

To:palin@python.edu, Subject:For your eyes only, Body:the parrot is no more!, CC:None, BCC:idle@python.edu;cleese@python.edu

### 10 - The Operator Module

In [ ]:
import operator

In [ ]:
dir(operator)

['__abs__',
 '__add__',
 '__all__',
 '__and__',
 '__builtins__',
 '__cached__',
 '__concat__',
 '__contains__',
 '__delitem__',
 '__doc__',
 '__eq__',
 '__file__',
 '__floordiv__',
 '__ge__',
 '__getitem__',
 '__gt__',
 '__iadd__',
 '__iand__',
 '__iconcat__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__inv__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__loader__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__name__',
 '__ne__',
 '__neg__',
 '__not__',
 '__or__',
 '__package__',
 '__pos__',
 '__pow__',
 '__rshift__',
 '__setitem__',
 '__spec__',
 '__sub__',
 '__truediv__',
 '__xor__',
 '_abs',
 'abs',
 'add',
 'and_',
 'attrgetter',
 'concat',
 'contains',
 'countOf',
 'delitem',
 'eq',
 'floordiv',
 'ge',
 'getitem',
 'gt',
 'iadd',
 'iand',
 'iconcat',
 'ifloordiv',
 'ilshift',
 'imatmul',
 'imod',
 'imul',
 'index',
 'indexOf',
 'inv',
 'invert',
 'ior',
 'ipow',
 'irshift',
 'is_',
 'is_not',
 'isub',
 'itemgetter',
 'itruediv',
 'ixor',
 'le',
 'length_hint',
 'lshift',
 'lt',
 'matmul',
 'methodcaller',
 'mod',
 'mul',
 'ne',
 'neg',
 'not_',
 'or_',
 'pos',
 'pow',
 'rshift',
 'setitem',
 'sub',
 'truediv',
 'truth',
 'xor']

**Arithmetic Operators**

A variety of artihmetic operators are implemented.

In [ ]:
operator.add(1, 2)

3

In [ ]:
operator.mul(2, 3)

6

In [ ]:
operator.pow(2, 3)

8

In [ ]:
operator.mod(13, 2)

1

In [ ]:
operator.floordiv(13, 2)

6

In [ ]:
operator.truediv(3, 2)

1.5

These would have been very handy in our previous section:

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x, y: x*y, [1, 2, 3, 4])

24

Instead of defining a lambda, we could simply use `operator.mul`

In [ ]:
reduce(operator.mul, [1, 2, 3, 4])

24

**Comparison and Boolean Operators**

Comparison and Boolean operators are also implemented as functions:

In [ ]:
operator.lt(10, 100)

True

In [ ]:
operator.le(10, 10)

True

In [ ]:
operator.is_('abc', 'def')

False

We can even get the truthyness of an object:

In [ ]:
operator.truth([1, 2])

True

In [ ]:
operator.truth([])

False

In [ ]:
operator.and_(True, False)

False

In [ ]:
operator.or_(True, False)

True

**Element and Atribute Getters and Setters**

We generally select an item by index from a sequence by using `[n]`

In [ ]:
my_list = [1, 2, 3, 4]
my_list[1]

2

We can do the same thing using:

In [ ]:
operator.getitem(my_list, 1)

2

In the sequence is mutable, we can also set or remove items:

In [ ]:
my_list = [1, 2, 3, 4]
my_list[1] = 100
del my_list[3]
print(my_list)

[1, 100, 3]

In [ ]:
my_list = [1, 2, 3, 4]
operator.setitem(my_list, 1, 100)
operator.delitem(my_list,3)
print(my_list)

[1, 100, 3]

We can also do the same thing using the `operator` module's `itemgetter` function.

The difference is that this returns a callable:

In [ ]:
f = operator.itemgetter(2)

Now, `f(my_list)` will return `my_list[2]`

In [ ]:
f(my_list)

3

In [ ]:
x = 'python'
f(x)

't'

Furthermore, we can pass more than one index to `itemgetter`:

In [ ]:
f = operator.itemgetter(2, 3)

In [ ]:
my_list = [1, 2, 3, 4]
f(my_list)

(3, 4)

In [ ]:
x = 'python'
f(x)

('t', 'h')

Similarly, `operator.attrgetter` does the same thing, but with object attributes.

In [ ]:
class MyClass:
    def __init__(self):
        self.a = 10
        self.b = 20
        self.c = 30

    def test(self):
        print('test method running...')

In [ ]:
obj = MyClass()

In [ ]:
obj.a, obj.b, obj.c

(10, 20, 30)

In [ ]:
f = operator.attrgetter('a')

In [ ]:
f(obj)

10

In [ ]:
my_var = 'b'
operator.attrgetter(my_var)(obj)

20

In [ ]:
my_var = 'c'
operator.attrgetter(my_var)(obj)

30

In [ ]:
f = operator.attrgetter('a', 'b', 'c')

In [ ]:
f(obj)

(10, 20, 30)

Of course, attributes can also be methods.
In this case, `attrgetter` will return the object's `test` method - a callable that can then ve called using `()`:

In [ ]:
f = operator.attrgetter('test')

In [ ]:
obj_test_method = f(obj)

In [ ]:
obj_test_method()

test method running...

Just like lambdas, we do not need to assign them to a variable name in order to use them:

In [ ]:
operator.attrgetter('a', 'b')(obj)

(10, 20)

In [ ]:
operator.itemgetter(2, 3)('python')

('t', 'h')

Of course, we can achieve the same thing using functions or lambdas:

In [ ]:
f = lambda x: (x.a, x.b, x.c)

In [ ]:
f(obj)

(10, 20, 30)

In [ ]:
f = lambda x: (x[2], x[3])

In [ ]:
f([1, 2, 3, 4])

(3, 4)

In [ ]:
f('python')

('t', 'h')

**Use Case Example: Sorting**

Suppose we want to sort a list of complex numbers based on the real part of the numbers:

In [ ]:
a = 2 + 5j
a.real

2.0

In [ ]:
l = [10+1j, 8+2j, 5+3j]
sorted(l, key=operator.attrgetter('real'))

[(5+3j), (8+2j), (10+1j)]

Or if we want to sort a list of string based on the last character of the strings:

In [ ]:
l = ['aaz', 'aad', 'aaa', 'aac']

Or maybe we want to sort a list of tuples based on the first item of each tuple:

In [ ]:
l = [(2, 3, 4), (1, 2, 3), (4, ), (3, 4)]
sorted(l, key=operator.itemgetter(0))

[(1, 2, 3), (2, 3, 4), (3, 4), (4,)]

**Slicing**

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
l[0:2]

[1, 2]

In [ ]:
l[0:2] = ['a', 'b', 'c']
print(l)

['a', 'b', 'c', 3, 4]

In [ ]:
del l[3:5]
print(l)

['a', 'b', 'c']

We can do the same thing this way:

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
operator.getitem(l, slice(0,2))

[1, 2]

In [ ]:
operator.setitem(l, slice(0,2), ['a', 'b', 'c'])
print(l)

['a', 'b', 'c', 3, 4]

In [ ]:
operator.delitem(l, slice(3, 5))
print(l)

['a', 'b', 'c']

**Calling another Callable**

In [ ]:
x = 'python'
x.upper()

'PYTHON'

In [ ]:
operator.methodcaller('upper')('python')

'PYTHON'

Of course, since `upper` is just an attribute of the string object `x`, we could also have used:

In [ ]:
operator.attrgetter('upper')(x)()

'PYTHON'

If the callable takes in more than one parameter, they can be specified as additional arguments in `methodcaller`:

In [ ]:
class MyClass:
    def __init__(self):
        self.a = 10
        self.b = 20

    def do_something(self, c):
        print(self.a, self.b, c)

In [ ]:
obj = MyClass()

In [ ]:
obj.do_something(100)

10 20 100

In [ ]:
operator.methodcaller('do_something', 100)(obj)

10 20 100

In [ ]:
class MyClass:
    def __init__(self):
        self.a = 10
        self.b = 20
    
    def do_something(self, *, c):
        print(self.a, self.b, c)

In [ ]:
obj.do_something(c=100)

10 20 100

In [ ]:
operator.methodcaller('do_something', c=100)(obj)

10 20 100

More information on the `operator` module can be found here:

https://docs.python.org/3/library/operator.html

## Section 07 - Scopes, Closures and Decorators

### 01 - Global and Local Scopes

In Python the `global` scope refers to the `module` scope.

The scope of a variable is normally defined by where it is (lexically) defined in the code.

In [ ]:
a = 10

In this case, `a` is defined inside the main module, so it is a global variable.

In [ ]:
def my_fucn(n):
    c = n ** 2
    return c

In this case, `c` was defined inside the function `my_func`, so it is `local`  to the function `my_func`. In this example, `n` is also `local` to `my_func`

Global variables can be accessed from any inner scope in the module, for example:

In [ ]:
def my_func(n):
    print('global:', a)
    c = a ** n
    return c

In [ ]:
my_func(2)

global: 10

100

As you can see, `my_func` was able to reference the global variable `a`.

But remember that the scope of a variable is determined by where it is assigned. In particular, any variable defined (i.e. assigned a value) inside a function is local to that function, even if the variable name happens to be global too!

In [ ]:
def my_func(n):
    a = 2
    c = a ** 2
    return c

In [ ]:
print(a)
print(my_func(3))
print(a)

10
4
10

In order to change the value of a global variable within an inner scope, we can use the `global` keyword as follows:

In [ ]:
def my_func(n):
    global a
    a = 2
    c = a ** 2
    return c

In [ ]:
print(a)
print(my_func(3))
print(a)

10
4
2

As you can see, the value of the global variable `a` was changed within `my_func`.

In fact, we can create global variables from within an inner function - Python will simply create the variable and place it in the global scope instead of the local scope:

In [ ]:
def my_func(n):
    global var
    var = 'hello world'
    return n ** 2

Now, `var` does not exist yet, since the function has not run:

In [ ]:
print(var)

NameError: ignored

Once we call the function though, it will create that global `var`:

In [ ]:
my_func(2)

4

In [ ]:
print(var)

hello world



---

**BE CAREFUL!**

*Remember that whenever you assign a value to a variable without having specified the variable as `global`, it is `local` in the current scope. Moreover, it does not matter where the assignment in the code takes place, the variable is considered local in the entire scope - Python determines the scope of objects at compile-time, nor at run-time.*

*Let's see an example of this:*

In [ ]:
a = 10
b = 100

In [ ]:
def my_func():
    print(a)
    print(b)

In [ ]:
my_func()

10
100



---

So, this works as expected - `a` and `b` are taken from the global scope since they are referenced before being assigned a value in the local scope.

But now consider the following example:

In [ ]:
a = 10
b = 100

def my_func():
    print(a)
    print(b)
    b = 1000

In [ ]:
my_func()

10

UnboundLocalError: ignored

As you can see, `b` in the line `print(b)` is considered a `local` variable - that's because the next line assigns a value to `b` - hence `b` is scoped as local by Python for the entire function.

Of course, functions are also objects, and scoping applies equally to function objects too. For example, we can "mask" the built-in `print` Python function:

In [ ]:
print = lambda x: 'hello {0}'.format(x)

def my_func(name):
    return print(name)

my_func('world')

'hello world'

You may be wondering how we get our real `print` function back!

In [ ]:
del print

In [ ]:
print('hello')

hello

Yay!!

If you have experience in some other programming languages you may ve wondering if loops and other code "blocks" haver their own local scope too. For example in Java, the following would not work:

```
for (int i=0; i<10; i++) {
    int x = 2 * i;
}
system.out.println(x);
```

But in Python it works perfectly fine:

In [ ]:
for i in range(10):
    x = 2 * i
print(x)

18

In this case, when we assigned a value to `x`, Python put it in the global (module) scope, so we can reference it after the `for` loop has finished running.

### 02 - Nonlocal Scopes

Functions defined inside another function can reference variables from that enlosing scope, just like functions can reference variables from the global scope.

In [ ]:
def outer_func():
    x = 'hello'

    def inner_func():
        print(x)
    
    inner_func()

In [ ]:
outer_func()

hello

in fact, any level of nesting is supported since Python just keeps looking in enclosing scopes until it finds what it needs (or fails to finde it by the time it finishes looking in the built-in scope, in which case a runtime error occurrs.)

In [ ]:
def outer_func():
    x = 'hello'
    def inner1():
        def inner2():
            print(x)
        inner2()
    inner1()

In [ ]:
outer_func()

hello

But if we assign a value to a variable, it is considered part of the local scope, and potentially masks enclosing scope variable names:

In [ ]:
def outer():
    x = 'hello'
    def inner():
        x = 'python'
    inner()
    print(x)

In [ ]:
outer()

hello

As you can see, `x` in outer was not changed.

To achieve this, we can use the `nonlocal` keyword:

In [ ]:
def outer():
    x = 'hello'
    def inner():
        nonlocal x
        x = 'python'
    inner()
    print(x)

In [ ]:
outer()

python

Of course, this can work at any level as well:

In [ ]:
def outer():
    x = 'hello'

    def inner1():
        def inner2():
            nonlocal x
            x = 'python'
        inner2()
    inner1()
    print(x)

In [ ]:
outer()

python

How far Python looks up the chain depends on the first occurence of the variable name in an enclosing scope.

Consider the following example:

In [ ]:
def outer():
    x = 'hello'
    def inner1():
        x = 'python'
        def inner2():
            nonlocal x
            x = 'monty'
        print('inner1 (before):', x)
        inner2()
        print('inner2 (after):', x)
    inner1()
    print('outer:', x)

In [ ]:
outer()

inner1 (before): python
inner2 (after): monty
outer: hello

What happened here, is that `x` in `inner1` masked `x` in `outer`. But `inner2` indicated to Python that `x` was nonlocal, so the first local variable up in the enclosing scope chain Python found was the one in `inner1`, hence `x` in `inner2` is actually referencing `x` that is local to `inner1`

We can change this behavior by making the variable `x` in `inner` nonlocal as well:

In [ ]:
def outer():
    x = 'hello'
    def inner1():
        nonlocal x
        x = 'python'
        def inner2():
            nonlocal x
            x = 'monty'
        print('inner1 (before):', x)
        inner2()
        print('inner1 (after):', x)
    inner1()
    print('outer:', x)

In [ ]:
outer()

inner1 (before): python
inner1 (after): monty
outer: monty

In [ ]:
x = 100
def outer():
    x = 'python'  # masks global x
    def inner1():
        nonlocal x  # refers to x in outer
        x = 'monty' # changed x in outer scope
        def inner2():
            global x  # refers to x in global scope
            x = 'hello'
        print('inner1 (before):', x)
        inner2()
        print('inner1 (after):', x)
    inner1()
    print('outer', x)

In [ ]:
outer()
print(x)

inner1 (before): monty
inner1 (after): monty
outer monty
hello



---
**BE CAREFUL!**

*But this will not work. In `inner` Python is looking for a local variable called `x`. `outer` has a label called `x`, but it is a global variable, not local one - hence Python does not find a local variable in the scope chain.*

In [ ]:
x = 100
def outer():
    global x
    x = 'python'

    def inner():
        nonlocal x
        x = 'monty'
    inner()

SyntaxError: ignored



---

### 03 - Closures

Let's examine that concept of a cell to create an indirect reference for variables that are in multiple scopes.

In [ ]:
def outer():
    x = 'python'
    def inner():
        print(x)
    return inner

In [ ]:
fn = outer()

In [ ]:
fn.__code__.co_freevars

('x',)

As we can see, `x` is a free variable in the closure.

In [ ]:
fn.__closure__

(<cell at 0x7fbf847d3fd0: str object at 0x7fbf9864b330>,)

Here we see that the free variable `x` is actually a reference to a cell object that is itself a reference to a string object.

Let's see what the memory address of `x` is in the outer function and the inner function. To be sure string interning does not play a role, I am going to use an object that we know Python will not automatically intern, like a list.

In [ ]:
def outer():
    x = [1, 2, 3]
    print('outer:', hex(id(x)))
    def inner():
        print('inner:', hex(id(x)))
        print(x)
    return inner

In [ ]:
fn = outer()

outer: 0x7fbf802c8550

In [ ]:
fn.__closure__

(<cell at 0x7fbf80258c50: list object at 0x7fbf802c8550>,)

In [ ]:
fn()

inner: 0x7fbf802c8550
[1, 2, 3]

As you can see, each the memory address of `x` in `outer`, `inner` and the cell all point to the same object.

**Modifying the Free Variable**

We know we can modify nonlocal variables by using the `nonlocal` keyword. So the following will work:

In [ ]:
def counter():
    count = 0 # local variable

    def inc():
        nonlocal count # this is the count variable in counter
        count += 1
        return count
    return inc

In [ ]:
c = counter()

In [ ]:
c()

1

In [ ]:
c()

2

**Shared Extended Scopes**

As we saw in the lecture, we can set up nonlocal variables in different inner functions that reference the same outer scope variable, i.e. we have a free variable that is shared between two closure. This works because both non local variables and the outer local variable all point back to the same cell object.

In [ ]:
def outer():
    count = 0
    def inc1():
        nonlocal count
        count += 1
        return count

    def inc2():
        nonlocal count
        count += 1
        return count

    return inc1, inc2

In [ ]:
fn1, fn2 = outer()

In [ ]:
fn1.__closure__, fn2.__closure__

((<cell at 0x7f92a2b2d790: int object at 0xa9c780>,),
 (<cell at 0x7f92a2b2d790: int object at 0xa9c780>,))

As you can see here, the `count` label points to the same cell.

In [ ]:
fn1()

1

In [ ]:
fn1()

2

In [ ]:
fn2()

3

**Multiple Instances of Closures**

Recall that every time a function is called, a new local scope is created.

In [ ]:
from time import perf_counter

def func():
    x = perf_counter()
    print(x, id(x))

In [ ]:
func()

1053.63985421 140267844335536

In [ ]:
func()

1054.73182751 140267844335472

The same thing happens with closures, they have their own extended scope every time the closure is created:

In [ ]:
def pow(n):
    # n is local to pow
    def inner(x):
        # x is local to inner
        return x ** n
    return inner

In this example, `n`, in the function `inner` is a free variable, so we have a closure that contains `inner` and the free variable `n`

In [ ]:
square = pow(2)

In [ ]:
square(5)

25

In [ ]:
cube = pow(3)

In [ ]:
cube(5)

125

We can see that the cell used for the free variable in both cases is different:

In [ ]:
square.__closure__

(<cell at 0x7f92a2b2fa10: int object at 0xa9c7c0>,)

In [ ]:
cube.__closure__

(<cell at 0x7f92a2b2f2d0: int object at 0xa9c7e0>,)

In fact, these functions (`square` and `cube`) are not the same functions, even though they were "created" from the same `power` function:

In [ ]:
id(square), id(cube)

(140267771518848, 140267771555136)



---

**BE CAREFUL**

*Remember when I said the captured variable is a reference established when the closure is created, but the value is looked up only once the function is called?*

*This can create very subtle bugs in your program.*

*Consider the following example where we want to create some functions that can add 1, 2, 3, 4 and to whatever is passed to them.*

*We could do the following:*

In [ ]:
def adder(n):
    def inner(x):
        return x + n
    return inner

In [ ]:
add_1 = adder(1)
add_2 = adder(2)
add_3 = adder(3)
add_4 = adder(4)

In [ ]:
add_1(10), add_2(10), add_3(10), add_4(10)

(11, 12, 13, 14)



---

But suppose we want to get a little fancier and do it as follows:

In [ ]:
def create_adders():
    adders = []
    for n in range(1, 5):
        adders.append(lambda x: x + n)
    return adders

In [ ]:
adders = create_adders()

Now technically we have 4 functions in the `adders` list:

In [ ]:
adders

[<function __main__.create_adders.<locals>.<lambda>(x)>,
 <function __main__.create_adders.<locals>.<lambda>(x)>,
 <function __main__.create_adders.<locals>.<lambda>(x)>,
 <function __main__.create_adders.<locals>.<lambda>(x)>]

The first one should add 1 to the value we pass it, the second should add 2, and so on.

In [ ]:
adders[3](10)

14

Yep! that works for the 4rh function.

In [ ]:
adders[0](10)

14

Uh Oh - what happened? In fact we get the same behavior from every one of those functions:

In [ ]:
adders[0](10), adders[1](10), adders[2](10), adders[3](10)

(14, 14, 14, 14)

Remember what I said about when the variable is captured and when the value is looked up?

when the lambdas are created their `n` is the `n` used in the loop - the same `n` !!

In [ ]:
adders[0].__code__.co_freevars

('n',)

In [ ]:
adders[0].__closure__

(<cell at 0x7f92a2b9e890: int object at 0xa9c800>,)

In [ ]:
adders[1].__closure__

(<cell at 0x7f92a2b9e890: int object at 0xa9c800>,)

In [ ]:
adders[2].__closure__

(<cell at 0x7f92a2b9e890: int object at 0xa9c800>,)

In [ ]:
adders[3].__closure__

(<cell at 0x7f92a2b9e890: int object at 0xa9c800>,)

So, by the time we call `adder[i]`, the free variable `n` (shared between all adders) is set to 4.

In [ ]:
hex(id(4))

'0xa9c800'

As we can see the memory address of the singleton integer 4, is what that cell is point to.

If you want to use a loop to do this and not end up using the same cell for each of the free variables, we can use a simple trick that forces the evaluation of `n` at the time the closure is created, instead of when the closure function is evaluated.

We can do this by creating a parameter for `n` in our lambda whose default value is the current value of `n` - remember from an earlier video that parameter defaults are evaluated when the function is created, not called.

In [ ]:
def create_adders():
    adders = []
    for n in range(1, 5):
        adders.append(lambda x, step=n: x + step)
    return adders

In [ ]:
adders = create_adders()

In [ ]:
adders[0].__closure__

Why aren't we getting anything in the closure? What about free variables?

In [ ]:
adders[0].__code__.co_freevars

()

Hmm, nothing either... Why?

Well, look at the lambda in that loop. Does it reference the variable `n` (other than in the default value)?

No. Hence, `n` is not a free variable in this case, and our lambda is just a plain lambda, not a closure.

And this code will now work as expected:

In [ ]:
adders[0](10)

11

In [ ]:
adders[1](10)

12

In [ ]:
adders[2](10)

13

In [ ]:
adders[3](10)

14

You just understand that since the default values are evaluated when the function (lambda in this case) is created, the then-current `n` value is assigned to the local variable `step`. So `step` will not change every time the lambda is called, and since `n` is not referenced inside the function (and therefore evaluated when the lambda is called), `n` is not a free variable.

**Nested Closures**

We can also nest closures, as can be seen in this example:

In [ ]:
def incrementer(n):
    def inner(start):
        current = start
        def inc():
            a = 10 # local var
            nonlocal current
            current += n
            return current
        return inc
    return inner

In [ ]:
fn = incrementer(2)

In [ ]:
fn

In [ ]:
fn.__code__.co_freevars

('n',)

In [ ]:
fn.__closure__

(<cell at 0x7f929aa7b090: int object at 0xa9c7c0>,)

In [ ]:
inc_2 = fn(100)

In [ ]:
inc_2

In [ ]:
inc_2.__closure__

(<cell at 0x7f929aa90590: int object at 0xa9d400>,
 <cell at 0x7f929aa7b090: int object at 0xa9c7c0>)

Here you can see that the second free variable `n`, is pointing to the same cell as the free variable in `fn`.

Note that `a` is a local variable, and is not considered a free variable.

And we can call the closures as follows:

In [ ]:
inc_2()

102

In [ ]:
inc_2()

104

In [ ]:
inc_3 = incrementer(3)(200)

In [ ]:
inc_3()

203

In [ ]:
inc_3()

206

### 04 - Closure Applications - Part 1

In this example we are going to build an averager function that can average multiple values.

The twist is that we want to simply be able to feed numbers to that function and get a running average over time, not average a list which requires performing the same calculations (sum and count) over and over again.

In [ ]:
class Averager:
    def __init__(self):
        self.numbers = []

    def add(self, number):
        self.numbers.append(number)
        total = sum(self.numbers)
        count = len(self.numbers)
        return total / count

In [ ]:
a = Averager()

In [ ]:
a.add(10)

10.0

In [ ]:
a.add(20)

15.0

In [ ]:
a.add(30)

20.0

We can do this using a closure as follows:

In [ ]:
def averager():
    numbers = []
    def add(number):
        numbers.append(number)
        total = sum(numbers)
        count = len(numbers)
        return total / count
    return add

In [ ]:
a = averager()

In [ ]:
a(10)

10.0

In [ ]:
a(20)

15.0

In [ ]:
a(30)

20.0

Now, instead of storing a list and recalculating `total` and `count` every yime we need the new average, we are going to store running total and count and update each value each time a new value is added to the running average, and then return `total / count`.

Let's start with a class approach first, where we will use instance variables to store the running total and count and provide an instance method to add a new number and return the current average.

In [ ]:
class Averager:
    def __init__(self):
        self._count = 0
        self._total = 0

    def add(self, value):
        self._total += value
        self._count += 1
        return self._total / self._count

In [ ]:
a = Averager()

In [ ]:
a.add(10)

10.0

In [ ]:
a.add(20)

15.0

In [ ]:
a.add(30)

20.0

Now, let's see how we might use a closure to achieve the same thing.

In [ ]:
def averager():
    total = 0
    count = 0

    def add(value):
        nonlocal total, count
        total +=  value
        count += 1
        return 0 if count == 0 else total / count
        
    return add

In [ ]:
a = averager()

In [ ]:
a(10)

10.0

In [ ]:
a(20)

15.0

In [ ]:
a(30)

20.0

**Generalizing this example**

We saw that we were essentially able t o convert a class to an equivalent functionality using closures. This is actually true in a much more general sense - very often, classes that  define a single method (other than initializers) can be implemented using a closure instead.

Let's look at another example of this.

Suppose we want something that keep track of the running elapsed time in seconds.

In [ ]:
from time import perf_counter

In [ ]:
class Timer:
    def __init__(self):
        self._start = perf_counter()

    def __call__(self):
        return (perf_counter() - self._start)

In [ ]:
a = Timer()

Now wait a bit before running the next line of code:

In [ ]:
a()

18.27895614999943

Let's start another "timer":

In [ ]:
b = Timer()

In [ ]:
print(a())
print(b())

70.2039363089998
27.176864121000108

Now let's rewrite this using a closure instead:

In [ ]:
def timer():
    start = perf_counter()

    def elapsed():
        # we don't even need to makee start nonlocal
        # since we are only reading it
        return perf_counter() - start
    
    return elapsed

In [ ]:
x = timer()

In [ ]:
x()

48.36244885399992

In [ ]:
y = timer()

In [ ]:
print(x())
print(y())

65.52037501700033
10.679191784000068

In [ ]:
print(a())
print(b())
print(x())
print(y())

262.8818922269993
219.85443020500043
81.25876278299984
26.41744530899996

### 05 - Closure Applications - Part 2

**Example 1**

Let's write a small function that can increment a counter for us - we don't have an incrementor in Python (the ++ operator in Java or C++ for example):

In [ ]:
def counter(initial_value):
    # initial_value is a local variable here

    def inc(increment=1):
        nonlocal initial_value
        # initial_value is a nonlocal (captured) variable here
        initial_value += increment
        return initial_value
    
    return inc

In [ ]:
counter1 = counter(0)

In [ ]:
print(counter1(0))

0

In [ ]:
print(counter1())

1

In [ ]:
print(counter1())

2

In [ ]:
print(counter1(8))

10

In [ ]:
counter2 = counter(1000)

In [ ]:
print(counter2(0))

1000

In [ ]:
print(counter2(1))

1001

In [ ]:
print(counter2())

1002

In [ ]:
print(counter2(220))

1222

As you can see, each closure maintains a reference to the initial_value variable that was created when `counter` function was called - each time that function was called, a new local variable initial_value was created (with a value assigned from the argument), and it became a nonlocal (captured) variable in the inner scope.

**Example 2**

Let's modify this example to now build something that can run, and maintain a count of how many yimes we have run som function.

In [ ]:
def counter(fn):
    cnt = 0 # initially fn has been run zero times

    def inner(*args, **kwargs):
        nonlocal cnt
        cnt = cnt + 1
        print('{0} has been called {1} times'.format(fn.__name__, cnt))
        return fn(*args, **kwargs)
        
    return inner

In [ ]:
def add(a, b):
    return a + b

In [ ]:
counted_add = counter(add)

And the free variables are:

In [ ]:
counted_add.__code__.co_freevars

('cnt', 'fn')

We can now call the `counted_add` function:

In [ ]:
counted_add(1, 2)

add has been called 1 times

3

In [ ]:
counted_add(2, 3)

add has been called 2 times

5

In [ ]:
def mult(a, b, c):
    return a * b * c

In [ ]:
counted_mult = counter(mult)

In [ ]:
counted_mult(1, 2, 3)

mult has been called 1 times

6

In [ ]:
counted_mult(2, 3, 4)

mult has been called 2 times

24

**Example 3**

Let's take this one step further, and actually store the function name and the number of calls in a global dictionary instead of just printing it out all the time.

In [ ]:
counters = dict()

def counter(fn):
    cnt = 0 # initially fn has been run zero times

    def inner(*args, **kwargs):
        nonlocal cnt
        cnt = cnt + 1
        counters[fn.__name__] = cnt # counters is global
        return fn(*args, **kwargs)
        
    return inner

In [ ]:
counted_add = counter(add)
counted_mult = counter(mult)

NameError: ignored

Note that